[2019-11-05 18:29] jeromekelleher opened #2 "Figure 1 proposal"
Here's a (very!) rough first pass at an illustrative figure 1. The idea is to have a number of panels showing different aspects of the software:

a. Show the catalogue in a tree-like way. We want to emphasise that we're gathering together all the important information that we'd need to run simulations of a species in one place.
b. Show that cloud resources with a transparent cache are used for lar

[2019-11-06 06:32] petrelharp commented on #2
I like it. What'd be a good example CLI snippet? If this could be closer to
a quickreference, somehow, rather than just a single example, I think that
would help.

On Tue, Nov 5, 2019 at 10:29 AM Jerome Kelleher <notifications@github.com>
wrote:

[2019-11-07 19:18] andrewkern opened #3 "moved all text from the google doc"
Folks please have a look at the new latex doc I've fleshed out. Will close this issue in a few days.

[2019-11-07 19:19] andrewkern commented on #2
I like this too Jerome. Want to tag @jradrion here to make sure he sees too.

[2019-11-07 20:05] jradrion commented on #2
I like it too. The only think I'm lukewarm on including is example API/CLI code, only because I imagine that we will want a full example pipeline available on the repo for install testing purposes. That being said, it could work here as well.

[2019-11-07 20:08] jeromekelleher commented on #2
Great, glad you all like the basic idea. This is just a rough idea of somewhere to start --- let's see how it works out. Totally open to dropping the code snippets entirely.

[2019-11-08 04:56] petrelharp commented on #2
As you see fit, but I'm voting for *more* example API/CLI code, not less, because the more concretely we can show people how easy it is to use this, the better.

[2019-11-08 08:56] jeromekelleher commented on #2
Good point.

[2019-11-08 08:58] jeromekelleher commented on #3
LGTM, thanks @andrewkern.

[2019-11-08 18:00] klohmueller commented on #2
I like this too! Do we want to have any sort of output shown in panel D? Do we want to include anything in terms of the analysis side? Or should we keep that as a separate figure because it's not a direct part of the resource? Thoughts?

[2019-11-09 13:03] jeromekelleher commented on #2
Good idea: It might be nice to show that the output is a tskit tree sequence file. Perhaps we could work the tskit logo in here somehow??

I think we probably don't need a figure for the analysis side. In my mind, the analysis repo is more  "the code we used to generate the figures is on GitHub: please feel free to adapt it for your own needs" rather than "the analysis repo is production ready sof

[2019-11-12 19:11] andrewkern opened #4 "popsim logo ideas?"
two ideas for a popsim logo:

1) we are sort of creating a factory (a standardized production facility) for tree sequences. Maybe we could have a factory thing going on?

2) riffing off of @jradrion's idea of the popsim logo sitting above the tskit logo-- maybe the popsim project is like a forest that has all these different sorts of tree sequences within it?

[2019-11-12 19:23] jradrion commented on #4
![logo_v1](https://user-images.githubusercontent.com/20053488/68703134-d5b8f100-053e-11ea-805f-6ad5f7e31d3e.png)
This was my idea.

[2019-11-12 19:25] jeromekelleher commented on #4
Or, a variant on your catalog idea @jradrion?

[2019-11-12 19:25] jradrion commented on #4
I like the idea of a factory though...maybe with tree sequences coming out of the smoke stacks?

[2019-11-12 19:26] andrewkern commented on #4
Yes!

[2019-11-12 21:23] jradrion commented on #4
![logo_v3](https://user-images.githubusercontent.com/20053488/68711983-a363bf80-054f-11ea-9f80-081013f56c5f.png)

Here's a quick compromise that doesn't involve me attempting to draw a factory.

[2019-11-13 04:09] petrelharp commented on #4
Very nice. Here's another one: clouds, raining down trees?
![logo_v4 pdf](https://user-images.githubusercontent.com/1046249/68732476-65cf5880-0588-11ea-8564-64198c3af088.png)

[logo_v4.pdf](https://github.com/popgensims/manuscript/files/3839378/logo_v4.pdf)

[2019-11-13 04:10] petrelharp commented on #4
rough, and too big, but you get the idea?

[2019-11-13 05:13] jradrion commented on #4
Nice! I like it!

[2019-11-13 08:57] jeromekelleher commented on #4
These are all awesome!

One thing to think about is that it's really useful if a logo works in a square format. For example, if we want to use it as our GitHub avatar, it needs to look like something in a 40x40 pixel format.

[2019-11-17 23:34] agladstein opened #6 "benchmark sims"
Has there been any talk of including a table/figure of expected run time and memory usage for the simulations?
I think as a user it would be helpful to have a table/figure to refer to have a general expectation of how long / how much memory the simulations will take.
I'm not sure if this would be better in the supplemental or in the docs.

[2019-11-19 19:06] jradrion commented on #4
Here are a couple of squarish mock-ups...
![logo_v5](https://user-images.githubusercontent.com/20053488/69177543-92213280-0abc-11ea-87d6-b28fb829ffbe.png)
![laptop](https://user-images.githubusercontent.com/20053488/69177546-94838c80-0abc-11ea-9474-3a62f5c02c9d.png)

[2019-11-19 19:34] ckyriazis opened #7 "Two population figures"
Opening an issue for further discussion about the two population figures and to share them with people that werent on the call.
[two_pop_figures.pdf](https://github.com/popgensims/manuscript/files/3865726/two_pop_figures.pdf)

I made a few changes from the figures I showed this morning, including:
- fixed the issue with the Drosophila dadi results (I realized I used the wrong mutation rate for plo

[2019-11-19 23:56] RyanGutenkunst commented on #7
Nice quick fixes. A few thoughts...
1) The cartoons look good overall, but I don't like the glaring yellow. I would also label the end populations in the simpler models, like was done for the Human A panel.
2) I'm not sure we need all the parameter names called out in the simulated models. I guess we'll need them for reporting our simulated values. But they aren't really necessary for interpreting

[2019-11-20 00:00] ckyriazis commented on #7
Thanks @RyanGutenkunst ! I'll work up a new version based on these comments.

[2019-11-20 00:48] jradrion commented on #2
I'm feeling pretty good about this, but I welcome any suggestions.
![Figure1_v3](https://user-images.githubusercontent.com/20053488/69199243-425a5f80-0aec-11ea-9c24-ef876ea7a3f9.png)

[2019-11-20 04:52] petrelharp commented on #2
Looks very nice!  Minor comment: you can omit the `\` and `>` in the CLI, I think?

[2019-11-20 09:14] jeromekelleher commented on #2
Looks great! Some minor comments:

- In (C) we don't need the msprime import
- We should remove the ``length_multiplier=0.01`` parameter from ``get_contig`` as it can't be used with the ``genetic_map`` argument.)
- Replace line 8 with ``model = species.get_model("ooa_2")``. (The model classes are an implementation detail that are hidden away from the users; gives us more freedom on how we arrange

[2019-11-20 18:16] jradrion commented on #2
@petrelharp ,@jeromekelleher
Thank you both for your comments! I will post an update with your suggestions some time soon.

[2019-11-21 18:08] ckyriazis commented on #7
Here are some updated versions.

![homsap_twopop](https://user-images.githubusercontent.com/11757173/69364209-c7f22280-0c46-11ea-9ead-0686fc44f341.png)
![dromel_twopop](https://user-images.githubusercontent.com/11757173/69364223-caed1300-0c46-11ea-8321-7d377fe91b2e.png)

[2019-11-22 04:16] RyanGutenkunst commented on #7
I like 'em! Thoughts, others?

[2019-11-25 11:10] jeromekelleher commented on #2
An update here @jradrion --- we need to change the code slightly after @grahamgower's addition of the simulation engine api. We'll want to add
[code]

[2019-11-26 01:47] andrewkern commented on #2
@jradrion hoping you could push the current figure to the repo as a PR. version on the repo is dated already

[2019-11-26 05:27] andrewkern commented on #7
sorry for the dumb question: what are the t_div dots in the subpanel?

In the meanwhile I'm going to include these as placeholders in https://github.com/popgensims/manuscript/pull/8

[2019-11-26 05:43] jradrion commented on #2
@andrewkern done, though I still need to work on incorporating @jeromekelleher's comments. I'll continue with the PRs as I make more substantial updates.

[2019-11-26 15:52] ckyriazis commented on #7
the t_div dots are the true (black - see figures A and B) and inferred (blue) divergence times. i'm worried they might be confusing because their y axis values are arbitrary, but i thought it might be informative to see them on the same x axis as the n_t trajectories. if that is too confusing, i can plot them in a separate panel.

one other thing of note @andrewkern  - the true n_t trajectories he

[2019-11-26 18:17] jeromekelleher opened #10 "Summary table for catalog"
Generate a LaTeX table summarising the contents of the catalog. If there is space, include some basic information about running a simulation [time/RAM] for the first chromosome for each model. The code for doing this would look a lot like the code for generating the [catalog](https://github.com/popgensims/stdpopsim/blob/master/docs/_ext/speciescatalog.py)

I'll have a quick go at this to see what'

[2019-11-26 18:19] jeromekelleher commented on #10
Related to #6, but less ambitious in terms of benchmarking.

[2019-11-26 18:19] andrewkern commented on #10
thanks @jeromekelleher. i think those simulations could be quite minimal. say samples of size 2 from single population models or one sample from each population in multi-population models.

[2019-11-26 18:21] andrewkern opened #11 "use logo from Fig1 as avatar for organization?"
what if we used the PopSim logo that @jradrion made for the github organization avatar?

[2019-11-26 18:23] jeromekelleher commented on #11
Sure, let's try it out.

[2019-11-26 18:26] jradrion commented on #11
Sounds good. Did people seem to like the stacked logo or the laptop better?

[2019-11-26 18:27] andrewkern commented on #11
i tried the laptop first-- how's it look?

[2019-11-26 18:29] jradrion commented on #11
It kinda squares-off the edges, so it looks a little weird in my opinion. Any chance we could see how the stacked one looks?

[2019-11-26 18:31] jeromekelleher commented on #11
The laptop one looks kind of South Park at the moment, somehow. I can't decide if this is a good or bad thing.

[2019-11-26 18:33] andrewkern commented on #11
hahaha okay let's see what the stacked one looks like

[2019-11-26 18:35] andrewkern commented on #11
ugh the stacked one is too big. take a look. can we shrink it somehow?

[2019-11-26 18:36] jradrion commented on #11
Sure, give me a sec.

[2019-11-26 18:39] jradrion commented on #11
![logo_v6](https://user-images.githubusercontent.com/20053488/69662302-f43be380-1038-11ea-9a47-e98ba7d66c83.png)
OK, try this one.

[2019-11-26 18:44] andrewkern commented on #11
almost.... it needs a bit more shrink... take a look

[2019-11-26 18:45] jradrion commented on #11
Ahh, so close. One more second...

[2019-11-26 18:48] jradrion commented on #11
![logo_v6](https://user-images.githubusercontent.com/20053488/69662976-3154a580-103a-11ea-8d6f-7f49239a20cc.png)
Hopefully this will do the trick.

[2019-11-26 18:50] jeromekelleher commented on #11
Looks good!

[2019-11-26 19:04] andrewkern commented on #11
looking really good now. closing this.

[2019-11-26 19:04] #11 closed

[2019-12-02 19:56] jradrion commented on #2
![Figure1_v5](https://user-images.githubusercontent.com/20053488/69989371-53e23500-14f8-11ea-82f4-6243192abe61.png)

I went with macOS-style node triangles, where right-pointed triangles indicate closed folders and downward-pointed triangles indicate expanded folders. I'm still somewhat unconvinced of the value added by panels B and D, though I'm fine with keeping them as is for now. I'm also will

[2019-12-03 18:44] ckyriazis commented on #7
Here are the updated figures. Let me know if there are any further comments.

![dromel_listephan](https://user-images.githubusercontent.com/11757173/70079548-d0891800-15b9-11ea-9937-4b7ffba1e172.png)
![homsap_gutenkunst](https://user-images.githubusercontent.com/11757173/70079550-d0891800-15b9-11ea-8af6-1f0862dcb6a7.png)

[2019-12-03 23:27] andrewkern commented on #7
these look great. can you please submit them in a PR to the manuscript repo?

[2019-12-04 00:35] ckyriazis commented on #7
Done.

[2019-12-04 13:57] jeromekelleher commented on #2
Looks great. I'm also less convinced that B and D add much. Perhaps we should just drop B anyway --- this concept can probably  be communicated more effectively in the text.

[2019-12-04 14:43] andrewkern commented on #2
i agree B doesn't add much, but currently it does carry some weight in the way that I refer to Fig1B from the text. Have you had a read through yet @jeromekelleher?

[2019-12-04 14:51] jeromekelleher commented on #2
No, haven't had a proper pass through. Will do ASAP.

[2019-12-05 11:28] jeromekelleher opened #15 "Citation style"
What journal are we planning on submitting to, and what's their citation style?

I find the current "double bracket" style a bit weird:

I'm more familiar with either

or

But, clearly following the house style for the journal is the best approach.

[2019-12-05 11:30] jeromekelleher opened #16 "Shorten title?"
I suggest we shorten the title to: "Stdpopsim: a community toolkit for population genetic simulation"

The current "-supported" bit doesn't do much for me. What do we think?

[2019-12-05 14:41] andrewkern commented on #15
right so i figured we should import a nice template once we settle on a target journal. three ideas along those lines:

eLife
GENETICS
G3

I think eLife and GENETICS are probably a stretch for this manuscript, where as G3 is a sure thing. eLife might want to take a chance on us though-- never know with that journal

[2019-12-05 14:42] andrewkern commented on #16
works for me.

[2019-12-05 14:44] andrewkern commented on #10
https://github.com/popgensims/manuscript/pull/14 closes this issue I believe

[2019-12-05 15:50] jeromekelleher commented on #16
OK, let's do it if no one complains.

[2019-12-05 15:51] jeromekelleher commented on #15
SGTM. I'm very happy to let others decide the journal --- perhaps we should take this to email?

[2019-12-05 15:56] #10 closed

[2019-12-05 17:05] andrewkern commented on #15
yeah- i'll start a new issue and email the group

[2019-12-05 17:07] andrewkern opened #19 "target journal"
@jeromekelleher and i started discussing possible target journals for the manuscript over on https://github.com/popgensims/manuscript/issues/15 and wanted to start a broader discussion.

Where to folks want to submit? Some journals that makes sense to me would be eLife, GENETICS, or G3

[2019-12-05 17:09] jeromekelleher commented on #19
Pinging @popgensims/all for input on this.

[2019-12-05 17:14] #3 closed

[2019-12-05 17:15] reedacartwright commented on #19
eLife sounds like a good place to start.

On Thu, Dec 5, 2019, 10:10 Jerome Kelleher <notifications@github.com> wrote:

[2019-12-05 17:15] jeromekelleher commented on #6
What do you think of the basic benchmarks in #14 @agladstein?

[2019-12-05 17:35] klohmueller commented on #19
I think we had been thinking about Genome Biology. I know we missed the deadline on the special issue, but I still think this would be a great fit!

I'm not sure Elife publishes anything with models...

[2019-12-05 17:41] andrewkern commented on #19
so wrt to eLife-- i don't think they've ever published something like this before but with Eisen as the EIC i'd be keen to see if they would. this paper will be impactful if not glamorous.

[2019-12-05 18:26] #16 closed

[2019-12-05 19:13] agladstein commented on #6
I think those are good.
Probably would be useful to run each of those 100 times and show the mean/median + std

[2019-12-05 19:36] jeromekelleher commented on #6
Ack, this is a bit pointless, isn't it? We're not doing science here, just giving people an indication of roughly how long they can expect sims to take.

[2019-12-05 19:41] dschride commented on #19
Proposed ladder: 1. eLife, 2. Genome Biology, 3. GENETICS

[2019-12-05 19:45] agladstein commented on #6
Maybe. Even though they are set parameter values, the run times are variable. e.g. I ran `stdpopsim homsap -c chr22 -o afr-america-chr1.trees -g HapmapII_GRCh37 --model america 4 4 4 4` and it took 32s, which is 3x what you have in the table (and I'm not using the same sample sizes you did). so, having an average would give people a better idea. But, I don't fee strongly about it.

[2019-12-05 19:45] jeromekelleher commented on #6
You're using a different computer though...

[2019-12-05 19:47] jeromekelleher commented on #6
The runs will vary a bit between replicates, but not usually that much. If we're not plotting the values I don't see much point --- we won't notice any difference between the mean and any particular value.

[2019-12-05 21:42] gtsambos commented on #19
I'd prefer this article to be open-access if possible. Otherwise no strong feelings

[2019-12-07 01:47] andrewkern opened #27 "add details of melanogaster two population run times / failures"
hey @jradrion - can you add a couple of sentences at this point in the manuscript describing your efforts to get two population fly simulations for the whole genome?
https://github.com/popgensims/manuscript/blob/94e3838215a1a3c1e8beaf867724079597429fb4/popSimManu.tex#L536

[2019-12-07 21:23] jradrion commented on #27
No problem @andrewkern . However, I'm happy to report that the independent runs of chromosomes 2L, 2R, and 3L have actually finished running! Chr 3R and chr X are still running (19 days so far) so perhaps I should just wait for them to finish so I can include all the runtimes, etc? Presumably they should be finishing up soonish, although recombination rates on the X are significantly higher than o

[2019-12-08 00:51] andrewkern commented on #27
wow that's great!

[2019-12-08 00:52] andrewkern commented on #4
closing this as we now have a logo. Gracias @jradrion!

[2019-12-08 00:52] #4 closed

[2019-12-08 00:52] andrewkern commented on #2
closing this but we can reopen if people want to hash out figure 1 more later

[2019-12-08 09:55] jeromekelleher commented on #27
I think you can make a claim for the longest running msprime simulation record @jradrion! How big are the tree sequence files out of interest?

[2019-12-08 18:22] jradrion commented on #27
@andrewkern yeah, it was about time!

@jeromekelleher Ha, yes perhaps!

The files are on the order of 3-4 GB per chromosome.

[2019-12-08 19:07] jeromekelleher commented on #27
Jeez, that's a BIG tree sequence! Can we make these available for download somewhere? These'll be great for benchmarking tree sequence algorithms.

[2019-12-08 19:30] jradrion commented on #27
Yes, I should have mentioned that they can be found [here](http://sesame.uoregon.edu/~jadrion/).

I will populate this directory with the remaining chromosomes whenever they finish.

[2019-12-09 15:51] ckyriazis commented on #27
awesome @jradrion! i'll be ready to rerun the analysis pipeline when they all finish

[2019-12-10 17:41] andrewkern opened #28 "Methods: popsim structure"
hey @jeromekelleher can you write a paragraph or two here  describing the implementation:

https://github.com/popgensims/manuscript/blob/94e3838215a1a3c1e8beaf867724079597429fb4/popSimManu.tex#L463

[2019-12-10 17:42] andrewkern opened #29 "Methods: QC section edit"
@ndukler can you take a pass on the QC section that I wrote here?

https://github.com/popgensims/manuscript/blob/94e3838215a1a3c1e8beaf867724079597429fb4/popSimManu.tex#L465

[2019-12-10 17:43] andrewkern opened #30 "Methods: snakemake description"
assigning myself this task

https://github.com/popgensims/manuscript/blob/94e3838215a1a3c1e8beaf867724079597429fb4/popSimManu.tex#L487

[2019-12-10 17:49] jeromekelleher commented on #28
Will do. It'll be early next week though.

[2019-12-10 18:41] petrelharp opened #32 "include vector versions of figures"
We'll need this at publication, at least - might as well get them in now? This includes Fig 1: @jradrion?

[2019-12-11 19:05] ckyriazis opened #37 "analysis results on generic models"
One topic I meant to bring up on our call this week is to what extent we want to include analysis results on the generic models. My opinion is that these results were pretty informative (e.g., seeing that MSMC still infers the same squiggle on a constant population size model) and should be included in the supplement and briefly referred to in text. For the two population pipeline, I think showing

[2019-12-11 19:08] ckyriazis commented on #7
closing this

[2019-12-11 19:08] #7 closed

[2019-12-11 19:11] andrewkern commented on #37
yeah this is a good issue to bring up. I agree it would be worth doing one or two of these and stuffing results in the supplement.

[2019-12-11 20:18] RyanGutenkunst commented on #37
Agreed. Definitely should put some in.

[2019-12-11 20:51] ckyriazis commented on #37
FWIW, here are the generic IM results. I can add this and the plotting code to the ms repo.
![image](https://user-images.githubusercontent.com/11757173/70659405-e67b8600-1c14-11ea-996e-68b492d86e96.png)

[2019-12-11 21:35] andrewkern commented on #37
these look great @ckyriazis. can you submit them to the repo with a PR?

[2019-12-11 21:36] ckyriazis commented on #37
sure will do.

[2019-12-11 23:42] jradrion commented on #32
done

[2019-12-12 05:05] andrewkern commented on #32
closed by https://github.com/popgensims/manuscript/pull/39

[2019-12-12 05:05] #32 closed

[2019-12-14 16:25] jeromekelleher opened #40 "Get "standard library" into title?"
The current title "stdpopsim: a community toolkit for population genetic simulation" risks being interpreted as "Yet another simulator: yawn". I think we want to get across the "standard library" or "catalog of simulation" concept

How about

- A standard library of population genetic simulations
- A catalog of population genetic simulations
- A community maintained catalog of population genetic s

[2019-12-14 16:47] ndukler commented on #29
This looks pretty good except for a tiny revision to this sentence "Imagine Developer A
wants to introduce a new model into stdpopsim. Developer A implements the
demographic model for the relevant organism along with ~~a series of required
unit tests and~~ clear documentation of the model parameters and populations." Developer A should never need to add unit tests to my knowledge and I never have.

[2019-12-14 17:07] jeromekelleher opened #42 "Use model/genetic map etc IDs in the text"
We're referring to models and genetic maps in the text as "Gutenkunst model" and "Comeron map" etc along with citations each time. This seems clunky to me for a few reasons:

1. We're assuming the reader knows how, .e.g, the Gutenkunst model differs from the Ragsdale model, which is unreasonable and hard to follow for non-experts
2. There's a *lot* of citing of the same 4 or 5 papers.

I think we

[2019-12-16 06:15] andrewkern commented on #40
I prefer these two. What if we recombine them to:

     * A community maintained standard library of population genetic simulations

[2019-12-16 06:29] andrewkern commented on #42
so are you thinking that we would introduce the model fully once, and then give the acronym in the text, or just go straight to names like `OutOfAfrica_3G09` and point them to a table?

[2019-12-16 08:42] jeromekelleher commented on #42
Not sure --- getting the references into the table would be challenging in terms of horizontal space, so perhaps we introduce the models in the text once, and then refer to them by IDs afterwards?

[2019-12-16 08:43] jeromekelleher commented on #40
I like it.

[2019-12-16 14:19] andrewkern commented on #42
yeah that would be my vote. I can give this a run this morning-- I'm planning on writing this manuscript most of the day.

[2019-12-16 16:34] ndukler commented on #29
@andrewkern do you want me to make the edit myself or would you prefer to do it?

[2019-12-16 16:37] jeromekelleher commented on #29
Just go for the edit @ndukler and open a PR I'd say.

[2019-12-16 16:44] ndukler commented on #29
Okay

[2019-12-16 17:02] ckyriazis commented on #27
Hey @jradrion are these still running?

[2019-12-16 17:58] #29 closed

[2019-12-16 18:12] jradrion commented on #27
@ckyriazis Yes, they are still running. However, they will be killed tomorrow morning due to routine server maintenance. It's still possible that chr3R will finish by then, and if it does I will transfer the results to my public html directory and notify you. I don't think there is hope for the X finishing by then. I went ahead and started simulations for 3 reps of the X on Andy's personal server,

[2019-12-16 19:19] ckyriazis commented on #27
Thanks for the update @jradrion! Fingers crossed that 3R finishes by tomorrow.

Quick question for chrX: would we want to even use this for inference? Would it not result in downward biases in the inferred Ne?

[2019-12-16 19:33] jradrion commented on #27
`Quick question for chrX: would we want to even use this for inference? Would it not result in downward biases in the inferred Ne?`

My intention in running chrX was for the sake of completeness. IIRC, expected heterozygosity is not dramatically different between the X and autosomes in some Drosophila populations.

[2019-12-16 23:27] andrewkern commented on #30
closed by https://github.com/popgensims/manuscript/pull/45

[2019-12-16 23:27] #30 closed

[2019-12-17 14:46] jeromekelleher commented on #15
Moved to Elife style in #41

[2019-12-17 14:46] #15 closed

[2019-12-17 14:46] jeromekelleher commented on #19
Closing as we've converged on eLife.

[2019-12-17 14:46] #19 closed

[2019-12-17 14:52] jeromekelleher commented on #28
I've made a few attempts at writing this, but it ends up saying the same thing as what we have in the "Results" section differently.  What sort of stuff do you imagine going in here @andrewkern, and perhaps we could just elaborate on these in the Results section? The distinction between "results" and "methods" seems a bit meaningless to me when they're both talking about some software.

[2019-12-17 17:42] petrelharp commented on #40
In the call just now, we have decided:

[2019-12-17 18:16] jeromekelleher commented on #40
Done.

[2019-12-17 18:16] #40 closed

[2019-12-17 18:20] jradrion commented on #27
Update: Chromosomes 3R and X did not finish in time. Both of these chromosomes are now being rerun on Andy's server and will take at least 30 days to finish.

I'm going to add detail about the completed simulations to the methods section today.

[2019-12-17 18:38] ckyriazis opened #48 "two pop figure caption"
the caption for the two pop figure describes the 'truth' line as the rate of coalescence, when in fact it is the census size. this should be updated and perhaps we should discuss why we do this in the caption or main text.

[2019-12-17 18:42] ckyriazis opened #49 "migration rate plots"
should we add plots of the inferred migration rates for the two population inference to the supplement? i currently have these (somewhat ugly) plots that are automatically generated by the pipeline. i can add them to the figure repo if wanted.
![estimates_mig_dadi_fsc](https://user-images.githubusercontent.com/11757173/71024415-ba9b4d00-20b9-11ea-9ab8-30f6557ad66d.png)
![dromel_estimates_mig_dadi_

[2019-12-17 18:52] andrewkern commented on #49
sure these can go in the supplement. Can you simply turn these in to box and whisker plots?

[2019-12-17 18:55] ckyriazis opened #50 "model misspecification discussion"
one area where we can take the 'both sides' approach with the two pop results is to talk more about the issue of model misspecification. specifically, the SFS-based methods are limited by assuming some arbitrary number of epochs, whereas for smcpp, it is limited in assuming no migration.

the human results are nice here because the true model includes migration (which is ignored by smcpp) but also

[2019-12-17 18:55] ckyriazis commented on #37
closing this

[2019-12-17 18:55] #37 closed

[2019-12-17 18:57] ckyriazis commented on #49
sounds good. i could either do box and whiskers or subset down to three inference replicates as we do for the pop size results? this is already the case for the human results here (top)...I think it could be a bit misleading to do box and whiskers with just three data points.

[2019-12-17 18:58] andrewkern commented on #49
yeah huh... maybe we leave it as is.

[2019-12-17 18:59] ckyriazis commented on #49
ill subset the drosophila one down to three data points and make them look a bit prettier then call it a day

[2019-12-17 20:18] andrewkern commented on #6
closing this as I think we settled on a solution

[2019-12-17 20:18] #6 closed

[2019-12-17 20:19] andrewkern opened #53 "change the latex document style?"
should we be using an eLife template for this? or something else? I quite like some of the neat templates people are using for their preprints

[2019-12-17 20:19] andrewkern commented on #50
yes I agree- want to take a stab at adding a sentence or two?

[2019-12-17 21:28] ckyriazis commented on #50
sure ill try to get to this tomorrow.

[2019-12-17 22:04] sgravel opened #54 "Clarifying "True" demographic histories"
https://github.com/popsim-consortium/manuscript/blob/a11bebf91b54c1a2471faa3eeeea86fcd3c4456f/popSimManu.tex#L330

I feel like the manuscript could clarify what is meant by the "truth" line in all these plots. From the manuscript, it is not entirely clear whether the pairwise coalescent rates are computed from
1- extant lineages in a simulated populations at that time or
2-lineages ancestral to a

[2019-12-17 22:10] andrewkern commented on #54
Not sure I follow- how do you mean that it is an artifact of misspecification?

[2019-12-17 22:22] ckyriazis commented on #54
see also #48 - I think there is going to be confusion over the fact that we use census size for the two pop figures and inverse coal rate in the one pop figures

[2019-12-17 22:30] sgravel commented on #54
There is no actual bottleneck in this population. We observe a bottleneck on the black line because when populations split, there is a rapid change of coalescence rates that translates into our inferring a bottleneck.  So I'd call this bottleneck an artifact due to the misspecification (the assumption that we have a single population).

[2019-12-17 23:48] ckyriazis commented on #49
PR #59 closes this

[2019-12-17 23:48] #49 closed

[2019-12-17 23:50] sgravel opened #60 "Popsim version ID"
https://github.com/popsim-consortium/manuscript/blob/6aca30af70e6265ed6f19129c0172c07226d1223/popSimManu.tex#L341
Will popsim have version id to facilitate reproducibility? If so, we could include this here since users may simply go through this section to decide what to report about their simulation.

Else maybe somewhere else in the paper be explicit what data is needed to reproduce an analysis.

[2019-12-18 00:03] sgravel opened #61 "Method citation cleanup?"
https://github.com/popsim-consortium/manuscript/blob/6aca30af70e6265ed6f19129c0172c07226d1223/popSimManu.tex#L77

This is a long citation list. It may be useful for readers if we cited the methods next to the specific or main task (inferring recombination, selection, or demography). It would perhaps also make sense to include here methods cited later in the paper (dadi [gutenkunst2009inferring], f

[2019-12-18 05:18] andrewkern opened #63 "PonPyg in documentation?"
Seems like with https://github.com/popsim-consortium/stdpopsim/pull/338 we are now ready to include PonPyg in the documentation?

@dschride and I were talking about whether or not to include it in the manuscript over here https://github.com/popsim-consortium/manuscript/pull/62#discussion_r359155370

[2019-12-18 06:15] apragsdale commented on #63
I think at this point the basics of the species are there and can be simulated like any other species, so I don't see why not to include it. The only thing missing at the point is the rec map (see [this issue](https://github.com/popsim-consortium/stdpopsim/issues/342)). I have two orangutan recombination maps that were shared with me, but am not sure about including them in the resources we publis

[2019-12-18 08:13] jeromekelleher commented on #61
Agreed -- better to split up the citations.

[2019-12-18 08:15] jeromekelleher commented on #60
Stdpopsim will have released versions, certainly. We should definitely encourage users to state the version they used, as parameters will vary between releases.

[2019-12-18 10:00] grahamgower opened #64 "american vs british english"
I'm not sure what policy eLife has on this, but we should at least be consistent. E.g. currently we have `modeled` and `modelled` in the manuscript.

[2019-12-18 10:42] grahamgower commented on #54
I'm also confused as to what the truth lines are. The manuscript implies these are calculated from the tree sequences, rather than just being the N(t) that was being simulated. Is this right? Can we include a description of how this is calculated?

[2019-12-18 14:34] andrewkern commented on #54
yes we definitely can. @petrelharp do you have bandwidth for this?

[2019-12-18 14:42] andrewkern commented on #64
yeah good point. i vote for American english 😛

[2019-12-18 14:43] andrewkern commented on #63
okay all set!

[2019-12-18 14:43] #63 closed

[2019-12-18 14:45] sgravel opened #66 ""usual factor-of-two""
I don't know what this refers to. Haploid vs diploid population sizes? If so, would we not have taken this into account?  It would be good to clarify or provide a citation in either case--there are too many "usual factors-of-two" in popgen.

[2019-12-18 14:46] andrewkern commented on #28
i think what's in this commit looks good @jeromekelleher. it's alright if we are redundant in the methods IMHO. Do you want to submit a PR with this?

[2019-12-18 16:24] jeromekelleher commented on #28
OK, I'll make a pass through it once stdpopsim is shipped.

[2019-12-18 16:25] jeromekelleher commented on #64
American is probably best given the makeup of the consortium

[2019-12-18 17:49] sgravel commented on #61
I cleaned this up and submitted a pull request. We could add a couple references to the DFE inference. (e.g. Ortega-Del Vecchyo https://www.biorxiv.org/content/10.1101/770966v1.abstract or Boyko et al. https://journals.plos.org/plosgenetics/article?id=10.1371/journal.pgen.1000083). I feel like @klohmueller might be the best to provide optimal list here.

[2019-12-18 18:29] jradrion opened #69 "PR/commit mixup"
@jeromekelleher, @andrewkern and I were wondering what might have happened here? How did my commit get included in @sgravel's PR?

What I found strange is that under my commit is says, "jradrion authored and sgravel commited". Any ideas? It's not really important, we're just curious.

<img width="1050" alt="Screen Shot 2019-12-18 at 10 22 42 AM" src="https://user-images.githubusercontent.com/20053

[2019-12-18 18:33] jradrion commented on #69
Maybe either @sgravel or I squashed the other's commit during a rebase?

[2019-12-18 18:34] andrewkern commented on #42
@jeromekelleher you and I should settle on Table 1 at this point. Should we put the new IDs in?

[2019-12-18 18:38] jeromekelleher commented on #69
Huh, that's weird. I haven't been watching the git history. Looks like one of you split off the wrong branch or did something odd when rebasing. The network looks fine though: https://github.com/popsim-consortium/manuscript/network

Looks like Adam, Chris and Kirk don't believe in feature branches though!

[2019-12-18 18:43] sgravel commented on #69
Probably my mistake -- it's my first time rebasing and submitting PRs. I was editing my local master branch on my first PR, and presumably I rebased with your commit included. Apologies.
I now create feature branches.

[2019-12-18 18:44] jeromekelleher commented on #42
Yep, I'll run the simulations and fix up the table/caption tomorrow. Will all of the models have been defined in the text? If so, I can drop the citations and get some valuable horizontal space, right?

[2019-12-18 18:45] jeromekelleher commented on #69
No harm done I'd say; feature branches FTW!

[2019-12-18 18:45] #69 closed

[2019-12-18 18:46] andrewkern commented on #42
What if we have two tables? one that has ID, description and reference, and a second that has the run time stats?

[2019-12-18 18:46] sgravel commented on #53
I agree that a more polished template such as that of eLife would be nicer for the preprint release.

[2019-12-18 18:48] jeromekelleher commented on #42
Lotta tables... leave it with me and I'll try out a few things. I'll be working full time on the doc tomorrow.

[2019-12-18 19:00] jradrion commented on #69
`No harm done I'd say; feature branches FTW!`
Absolutely! Thanks all!

[2019-12-18 19:05] jeromekelleher opened #70 "Authorship"
Pinging @popsim-consortium/all

After some discussion, we have come to the following proposal for the authorship order. As decided on the calls, we have three authorship classes, which are defined below. Within the authorship class, we're listed in alphabetical order. Andy and I are joint corresponding authors. We hope that this is a fair acknowledgement of the enormous effort from those in group

[2019-12-18 19:06] andrewkern commented on #70
I already notice that some of the names have been misspelled! Don't worry we will fix these!!

[2019-12-18 19:07] andrewkern commented on #70
In addition please either post here or email to me how you would like your name and affiliation to appear in the manuscript

[2019-12-18 19:09] jeromekelleher commented on #70
Oops, my bad, sorry!

[2019-12-18 19:11] ckyriazis commented on #70
Christopher C. Kyriazis, Department of Ecology and Evolutionary Biology, University of California Los Angeles.

[2019-12-18 19:21] ckyriazis commented on #69
@jeromekelleher not a matter of belief but rather github ignorance! i've been working off branches from my master in my fork and syncing the master as upstream updates occur. is there a better way to be doing this?

[2019-12-18 19:30] jeromekelleher commented on #69
This [recommended workflow](https://stdpopsim.readthedocs.io/en/latest/development.html#github-workflow) will change your life @ckyriazis !

[2019-12-18 19:36] dschride commented on #70
Daniel R. Schrider, Department of Genetics, University of North Carolina at Chapel Hill

[2019-12-18 19:39] grahamgower commented on #70
Graham Gower, Lundbeck GeoGenetics Centre, GLOBE Institute, University of Copenhagen, Denmark.

[2019-12-18 19:40] FerRacimo commented on #70
Fernando Racimo, Globe Institute, University of Copenhagen, Denmark

PS: Thanks, this will be a great resource for the community!

On Wednesday, December 18, 2019, dschride <notifications@github.com> wrote:

--
Fernando Racimo, PhD
Assistant Professor
Centre for GeoGenetics
University of Copenhagen
Øster Voldgade 5-7, DK-1350 Copenhagen, Denmark

[2019-12-18 19:41] apragsdale commented on #70
Aaron P. Ragsdale, Department of Human Genetics, McGill University, Canada.

[2019-12-18 19:44] agladstein commented on #70
Ariella L. Gladstein, Department of Genetics, University of North Carolina at Chapel Hill

[2019-12-18 19:49] sgravel commented on #70
Simon Gravel, Department of Human Genetics, McGill University, Canada

[2019-12-18 19:55] arundurvasula commented on #70
Arun Durvasula, Department of Human Genetics, David Geffen School of Medicine, University of California, Los Angeles

[2019-12-18 19:58] petrelharp commented on #54
Sure!

[2019-12-18 20:02] RyanGutenkunst commented on #70
Ryan N. Gutenkunst, Department of Molecular and Cellular Biology, University of Arizona

My tech should also be added to the "joint second authors". He developed the initial dadi scripts that Chris K built off of. He's

Travis J. Struck, Department of Molecular and Cellular Biology, University of Arizona

[2019-12-18 20:12] jeromekelleher commented on #70
Done

[2019-12-18 20:15] sgravel commented on #60
Resolved by PR #73

[2019-12-18 20:15] #60 closed

[2019-12-18 20:21] gphocs-dev commented on #70
Ilan Gronau, The Efi Arazi School of Computer Science, The Herzliya Interdisciplinary Center, Israel

[2019-12-18 20:24] jaredgalloway commented on #70
Jared G. Galloway, Institute of Ecology and Evolution, University of Oregon.

[2019-12-18 20:28] petrelharp commented on #54
FYI, what we do is described in detail [here](https://msprime.readthedocs.io/en/stable/api.html#msprime.DemographyDebugger.coalescence_rate_trajectory); I'll translate that into the text.

[2019-12-18 21:04] ckyriazis commented on #48
#75 closes this

[2019-12-18 21:04] #48 closed

[2019-12-18 21:05] ckyriazis commented on #50
added this with #75

[2019-12-18 21:05] #50 closed

[2019-12-18 21:05] ckyriazis commented on #69
wow!! this is a total game changer. thanks @jeromekelleher

[2019-12-18 21:14] petrelharp commented on #70
Peter Ralph, Departments of Biology and Mathematics and Institute of Ecology and Evolution, University of Oregon

[2019-12-18 21:42] jradrion commented on #70
Jeffrey R. Adrion, Institute of Ecology and Evolution, University of Oregon

[2019-12-18 22:11] noscode commented on #70
Ekaterina Noskova, Computer Technologies Laboratory, ITMO University, Saint
Petersburg, Russia

On Wed, Dec 18, 2019, 21:42 Jeffrey Adrion <notifications@github.com> wrote:

[2019-12-18 22:15] fbaumdicker commented on #70
Franz Baumdicker, Department of Mathematical Stochastics, University of Freiburg, Germany

[2019-12-18 22:17] gtsambos commented on #70
Georgia Tsambos, Melbourne Integrative Genomics, School of Mathematics and Statistics, University of Melbourne, Australia.

[2019-12-18 22:27] dortegadelv commented on #70
Diego Ortega-Del Vecchyo, International Laboratory for Human Genome Research, National Autonomous University of Mexico, Mexico

[2019-12-18 22:41] reedacartwright commented on #70
Reed A. Cartwright, The Biodesign Institute and The School of Life Sciences, Arizona State University, Tempe AZ USA 85287

[2019-12-18 23:05] carjed commented on #70
Jedidiah Carlson, Department of Genome Sciences, University of Washington, Seattle WA USA 98195

[2019-12-19 01:01] ndukler commented on #70
Noah Dukler, Simons Center for Quantitative Biology, Cold Spring Harbor Laboratory, Cold Spring Harbor, NY USA 11724

[2019-12-19 04:22] andrewkern commented on #70
btw I'm currently working on putting this all in the manuscript. should have a PR within the hour

[2019-12-19 04:41] petrelharp commented on #54
Closed by #76

[2019-12-19 04:41] #54 closed

[2019-12-19 05:38] dortegadelv commented on #61
I wouldn't mind a citation :) Apart from those two references, I would also suggest Fortier et al ( https://www.biorxiv.org/content/10.1101/703918v1 ) and Huang and Siepel ( https://genome.cshlp.org/content/early/2019/06/27/gr.245522.118.full.pdf ). I will make a pass through the manuscript, will add these references and some other suggestions on a new PR.

[2019-12-19 05:53] andrewkern opened #84 "Acknowledgement Section"
I've created an Acknowledgement section with this PR https://github.com/popsim-consortium/manuscript/pull/83#issue-354959547 (now merged)

Please add your own information if you feel comfortable with that or if not add it to this issue below.

thanks

[2019-12-19 17:11] ckyriazis opened #92 "pongo sp inconsistencies"
very minor thing I noticed while reading through the ms just now...we are inconsistent in how we refer to Pongo (pygmaeus vs abelii), both in the text as well as Table 1 and Fig 1. its a two species model for both species, but I think we should pick one and stick with it.

[2019-12-19 17:25] jeromekelleher commented on #70
Looks like this is sorted now, so closing.

[2019-12-19 17:25] #70 closed

[2019-12-19 17:50] andrewkern commented on #92
i did a little digging here-- turns out this isn't a minor thing. the genome assembly we are using is for Pongo abelii not pygmaeus! what should we do here guys? @petrelharp @jeromekelleher

[2019-12-19 18:01] andrewkern commented on #42
time to do the pass through the manuscript putting in demog_model IDs?

[2019-12-19 18:01] jeromekelleher commented on #27
So, given that these ended up being invalid  simulations due to a bug in msprime, is there much point in talking about them?

[2019-12-19 18:02] andrewkern commented on #27
probably not...

[2019-12-19 18:02] jeromekelleher commented on #42
Definitely for the methods. Not clear whether we should do this in the results/discussion, as we'd need to the text quite a bit. See how it looks after doing the methods?

[2019-12-19 18:03] andrewkern commented on #42
okay I can do that pass now

[2019-12-19 18:05] agladstein opened #95 "models inconsistent with catalog"
Looks like models described in the text are inconsistent with what is currently in the catalog. Need to update.
- more human models in catalog
- more A. thaliana models in catalog
- none for E. coli
- one for Pongo

[2019-12-19 18:07] jeromekelleher commented on #95
So there's stuff in the table that we're not talking about in the text?

[2019-12-19 18:08] agladstein commented on #95
Yes

[2019-12-19 18:09] jeromekelleher commented on #92
Huh, I wondered about that. I vote we file a bug on stdpopsim and move on. We're never going to get the data in the catalog perfect.

[2019-12-19 18:09] agladstein commented on #95
from
https://github.com/popsim-consortium/manuscript/blob/master/popSimManu.tex#L331
to
https://github.com/popsim-consortium/manuscript/blob/master/popSimManu.tex#L354

[2019-12-19 18:10] jeromekelleher commented on #42
Although, looks like we need to do a bunch of rewriting in the results anyway (#95)

[2019-12-19 18:14] andrewkern commented on #92
okay i'll follow your lead on this- how do we file a bug?

[2019-12-19 18:14] ckyriazis commented on #92
so should we refer to P. pygmaeus in the ms then? if so we'll also have to get @jradrion to update figure 1

[2019-12-19 18:25] agladstein opened #96 "add diagram of workflow"
could we add a diagram of the analysis workflow to the supplemental?

[2019-12-19 18:25] andrewkern commented on #42
okay i can take a pass on this too

[2019-12-19 18:33] andrewkern commented on #92
yes @jeromekelleher can table 1 be switched to P. abelii?

[2019-12-19 18:48] asiepel commented on #66
I think this is obviated by the edits Dan and I made to the Discussion yesterday, unless it also occurs somewhere else

[2019-12-19 18:50] asiepel opened #98 "manuscript title"
Perhaps I missed something, but I thought we had discussed changing the language in the title away from "library of simulations" to something more like "library of models", which I think captures better what we're providing here.  "Library of simulations" sounds to me a bit like a collection of pre-generated simulated data sets.

[2019-12-19 18:51] andrewkern commented on #66
agreed. closing.

[2019-12-19 18:51] #66 closed

[2019-12-19 18:52] andrewkern commented on #98
yeah i noticed that too. i will edit to library of models as we agreed upon.

[2019-12-19 18:59] jeromekelleher commented on #28
I've added all the details I think are needed to the results section in #99. I don't think we need a section in the methods, so going to close.

[2019-12-19 18:59] #28 closed

[2019-12-19 19:01] jeromekelleher commented on #2
Reopening this as I think B and D should be removed. After #99, there are no references to these in the text. I think they will only confuse people, and the space would be better used on making (C) bigger.

[2019-12-19 19:03] jeromekelleher commented on #2
Also, will need to update the figure to change "HapmapII_GRCh37" to "HapmMapII_GRCh37"

[2019-12-19 19:03] andrewkern commented on #2
let's ping our own Michelangelo @jradrion

and while we are at it-- what about the Pongo name for the figure?

[2019-12-19 19:04] andrewkern commented on #2
I vote we go with abelii throughout-- we can easily change the internals on stdpopsim with a few find/replace

[2019-12-19 19:04] jeromekelleher commented on #2
Has to be PonPyg, that's what we have in the Catalog.

[2019-12-19 19:05] jeromekelleher commented on #2
Or leave Pongo out of the manuscript entirely, it's pretty vestigial.

[2019-12-19 19:05] andrewkern commented on #2
I think we should keep it in and just make sure everything says Pongo pygmaeus in the paper

[2019-12-19 19:06] jeromekelleher commented on #2
Sure, happy to keep it in as PonPyg

https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_PonPyg

This is what we've released, I think we need to stick with that now. We'll fix the bugs in the genome info.

[2019-12-19 19:07] jeromekelleher commented on #92
Just open an issue in stdpopsim describing the problem. We have to stick with PonPyg now, that's the name we've given it in the release. It's a bug that it's got the wrong genome information.

[2019-12-19 19:11] jeromekelleher commented on #96
Sure, if someone would like to make it...

[2019-12-19 19:16] jradrion commented on #2
@jeromekelleher @andrewkern I'll work on these updates

[2019-12-19 19:30] agladstein commented on #96
Unless one of the original analysis people who wrote the workflow want to make it, I can draw it. If I do it, could be a good test if explanation actually is clear.

[2019-12-19 19:38] ckyriazis commented on #96
I'm happy to help and provide feedback.

[2019-12-19 19:54] agladstein commented on #95
this is closed by https://github.com/popsim-consortium/manuscript/pull/97

[2019-12-19 19:54] #95 closed

[2019-12-19 20:01] agladstein opened #102 "row name in params estimates figures"
It looks like all of the figures of parameter estimates with multiple rows are missing the label for the first row.
Fig 2 (missing YRI label)
Fig 4 (missing YRI label)
Fig S1 (missing YRI label)
Fig S3 (missing Africa label)
Fig S4 (missing pop 1 label)

[2019-12-19 20:05] ckyriazis commented on #102
so the label for the first row for all of these figs is in the parentheses following the species name.

[2019-12-19 20:16] jeromekelleher opened #103 "Results/catalog section"
I was hoping to revamp the Results/catalog section but have run out of time. Here's what I was thinking:

- Change the name to "Species catalog" (having stdpopsim in section headers looks ugly IMO)
- Change the first paragraph to be a summary of what the catalog *is* not what it *contains*. It's a systematic organisation of key quantitative data needed to simulate a given species.
- The next paras

[2019-12-19 20:19] jeromekelleher opened #104 "Remove pongo from paper"
There's some difficulty about how we're handling Pongo in the software, and we don't want to paint ourselves into a corner by saying we've done it one way. See https://github.com/popsim-consortium/stdpopsim/issues/354

[2019-12-19 20:22] jradrion commented on #2
![Figure1_v8b](https://user-images.githubusercontent.com/20053488/71206704-071d8e80-225a-11ea-8b83-a15381db17c7.png)
We could do something like this if we remove _E. coli_, which at this time isn't found in Table 1 either. I could scrap _Pongo_ too?
Thoughts?

[2019-12-19 20:25] andrewkern commented on #104
assigning myself this task. should be easy, but we should also remove it from Figure 1 @jradrion

[2019-12-19 20:25] andrewkern commented on #2
yes let's scrap pongo

[2019-12-19 20:29] ckyriazis commented on #92
closing this since its been resolved as far as the ms goes

[2019-12-19 20:29] #92 closed

[2019-12-19 20:44] agladstein commented on #102
Oh, I see. Yeah, I didn't notice that. Probably okay to leave as is.

[2019-12-19 20:44] #102 closed

[2019-12-19 20:50] agladstein commented on #104
when we list models out in the text and in the table, then maybe we should say we are showing a subset of the available species/models (but we are continually adding more).

[2019-12-19 20:55] agladstein commented on #27
So, I was confused by the paragraph https://github.com/popsim-consortium/manuscript/blob/master/popSimManu.tex#L773

I think the whole discussion of run times and why some of the chromosomes can be left out. Otherwise, if you leave it in, it should have some explanation of why it took so long. As it is, as a reader, I would confused as to why it doesn't line up with the table. Everything looks awe

[2019-12-19 21:00] andrewkern commented on #104
exactly

[2019-12-19 21:01] ckyriazis commented on #27
hmmm yea good point @agladstein, I see how that can be confusing. as far as i understand, I think the discrepancy between the table and these results is the fact we used a map rather than uniform recomb rates, which made it super slow. should we maybe mention that in the text? pinging @andrewkern and @jradrion for input.

[2019-12-19 21:03] agladstein commented on #27
@ckyriazis I would suspect so. And I asked @jeromekelleher about adding recomb map to table, but he argued against, which is fine. But, without explanation, it's kinda confusing because it doesn't line up.

[2019-12-19 21:03] jradrion commented on #2
![Figure1_v8d](https://user-images.githubusercontent.com/20053488/71209209-bf016a80-225f-11ea-8591-63841a0f09c5.png)
I'll go ahead and replace the current Fig 1 if everyone is satisfied with this version?

[2019-12-19 21:04] jradrion commented on #104
done

[2019-12-19 21:08] andrewkern commented on #2
this looks good Jeff. Can you submit a PR for this and please massage the associated text?

[2019-12-19 21:11] agladstein opened #105 "migration rate estimates"
I'm pretty sure we talked about this on a call, but I don't remember.
Why are the estimates for migration rate in humans so far off the truth?
Fig S6.
I don't think this is discussed anywhere in the text.

[2019-12-19 21:14] ckyriazis commented on #105
good catch...i dont think we've talked about this (at least not in a while) but tbh I'm really not sure. could be some sort of artefact from the model misspecification.

[2019-12-19 21:15] agladstein commented on #27
I think the commit https://github.com/popsim-consortium/manuscript/commit/4c5c4d454f378c20dab1ca0342c97441fae63297 from @ckyriazis improves that paragraph.
Maybe one additional line that's says something about using the recombination map?

[2019-12-19 21:16] ckyriazis commented on #27
yea thats what i was thinking. ill take a stab at that.

[2019-12-19 21:18] agladstein commented on #105
Or is it a typo?  Is the true EU-AF migration rate really = AF-EU? and why would one direction be good at estimating it, but not the other way?

[2019-12-19 21:22] ckyriazis commented on #105
just double checked and it is indeed the same bidirectional migration rate of 3e5 in the simulated model.

i think it could maybe have something to do with the fact that we do a good job of inferring the pop size of AF but not EU with the IM model, which could maybe impact effective migration rates? just speculation...it would be good to get others (@RyanGutenkunst @andrewkern @klohmueller) to wei

[2019-12-19 21:49] agladstein opened #107 "H. sapiens not humans?"
for consistency, should we be using H. sapiens in the text?

[2019-12-19 21:54] andrewkern commented on #107
no way-- we aren't _animals_

[2019-12-19 22:03] RyanGutenkunst commented on #105
Clarification... Typically migration rates are written so m12 is migration into 1 from 2. But the arrows in panel B of the figure suggest otherwise. Which direction is Mig_EU_AF, for example?

[2019-12-19 22:09] agladstein opened #109 "link supplemental refs"
Once https://github.com/popsim-consortium/manuscript/issues/53 is resolved, it would be nice to have the supplemental refs linked correctly. I know that it can sometimes be tricky to figure out, depending on the document style.

[2019-12-19 22:15] ckyriazis commented on #105
good catch @RyanGutenkunst. the figure in panel B is in error - I will update that. meaning that the migration directions in the SI figs are as you would expect.

[2019-12-19 22:19] agladstein opened #110 "migration in model figures"
In the IM model figures, could they have multiple arrows to represent continuous migration, like in 4A? Otherwise, to me it looks like pulse geneflow, different from in A. Or am I misunderstanding and the migration in 4A and 4B are fundamentally different? I thought they are both continuous migration,

[2019-12-19 22:25] RyanGutenkunst commented on #105
Great. Then it makes sense that this is indeed a side-effect of the population size estimation issue and it affects migration into Africa much more strongly than migration into Europe. The net effect of migration is going to depend on the migration rate into the population and drift in that population. Since we get the rate of drift in African correct (due to the correct pop size), we can also get

[2019-12-19 22:43] andrewkern commented on #64
closing cause the Americans won

[2019-12-19 22:43] agladstein commented on #105
Can we maybe add a shortened version of this explanation somewhere in the text?

[2019-12-19 22:45] andrewkern commented on #2
closed by https://github.com/popsim-consortium/manuscript/pull/108

[2019-12-19 22:45] #2 closed

[2019-12-19 22:47] ckyriazis commented on #105
thanks for the input @RyanGutenkunst! makes sense.

also, after talking with kirk just now, we were thinking that this could also be a result of the migration from the CHB population, which essentially functions as a ghost population here.

i'm not sure how much we want to speculate about this in text, given that we havent really spent much time trying to figure out why exactly we're getting this

[2019-12-19 22:47] andrewkern commented on #61
closing as these PRs have been merged

[2019-12-19 22:47] #61 closed

[2019-12-19 22:48] andrewkern commented on #98
this will be closed by https://github.com/popsim-consortium/manuscript/pull/111

[2019-12-19 22:49] andrewkern commented on #105
I think a couple of sentences along these lines is the max that we would want to add

[2019-12-19 22:49] andrewkern commented on #107
closing

[2019-12-19 23:01] ckyriazis commented on #110
you're correct that there is continuous migration - i'll add a few more arrows to the figures to help clarify that.

[2019-12-19 23:08] RyanGutenkunst commented on #105
Yep, the ghost population is certainly also a factor. It's hard to judge which effect is more important, pop size or ghost without some detailed study. So yes, let's wave hands vigorously!

[2019-12-19 23:17] andrewkern commented on #103
i'm working on a PR for this currently but would like to merge https://github.com/popsim-consortium/manuscript/pull/111 first

[2019-12-19 23:21] ckyriazis commented on #27
i tried to address this with #114

[2019-12-19 23:22] ckyriazis commented on #105
i took a stab at addressing this this in #114

[2019-12-19 23:34] andrewkern commented on #104
closing this as we should be set

[2019-12-19 23:34] #104 closed

[2019-12-20 04:04] asiepel opened #117 "intro suggestion"
There are a couple of sentences at the end of the second paragraph of the intro where stdpopsim is introduced "Here we describe....", which strike me as awkward and evidently have bothered several others as well (based on a chain of comments in the *.tex file).  I think a big part of the problem is that this is just an odd place to introduce the resource -- in the second paragraph, in the middle o

[2019-12-20 04:15] andrewkern commented on #117
go for it Adam- sounds like it could be a very good edit.

[2019-12-20 04:16] asiepel commented on #117
will do.

[2019-12-20 04:28] klohmueller commented on #117
FWIW, Adam, I concur. Those few sentences about the resource seem out of place with the rest of the intro. Thanks for fixing!

[2019-12-20 04:57] #103 closed

[2019-12-20 13:59] agladstein commented on #27
I think that looks better now.

[2019-12-20 14:02] agladstein commented on #105
Looks better to me 😄

[2019-12-20 14:02] #105 closed

[2019-12-20 14:34] petrelharp commented on #53
I think it looks great with the fancyheader now in #118; I say we close this.

[2019-12-20 14:35] andrewkern commented on #53
agreed

[2019-12-20 14:35] #53 closed

[2019-12-20 14:38] petrelharp commented on #84
Anyone to add to this bit?

Maybe we can delete this?

[2019-12-20 14:39] petrelharp commented on #96
This is a good idea, but since we haven't done it, I propose we push this off until resubmission.

[2019-12-20 14:39] petrelharp commented on #98
... which was merged.

[2019-12-20 14:39] #98 closed

[2019-12-20 14:40] petrelharp commented on #109
They're linking correctly now!

[2019-12-20 14:40] andrewkern commented on #84
I was thinking we could acknowledge Patrick Phillips there.

[2019-12-20 14:43] petrelharp commented on #117
This was done in b684ae5fb2da6bac8372f6dba4cd2c3da522d464

[2019-12-20 14:43] #117 closed

[2019-12-20 14:48] andrewkern commented on #96
yeah seems right to me.

[2019-12-20 14:49] andrewkern commented on #42
I believe this is now closed by https://github.com/popsim-consortium/manuscript/pull/118

[2019-12-20 14:49] #42 closed

[2019-12-20 14:49] andrewkern commented on #27
yes closing. this is done.

[2019-12-20 14:49] #27 closed

[2019-12-20 14:57] petrelharp opened #122 "Approval for submission?"
Today was when we were nominally going to release this manuscript (which looks wonderful, by the way, thanks all!!). Are there any objections to polishing it off and preprinting this today? Major outstanding issues that shouldn't be postponed? The question is not "can it be improved", but "is it good enough", I think.

My suggestion is that we finish polishing and preprint today; then we can wait

[2019-12-20 15:21] petrelharp commented on #84
Perhaps Richard Durbin.

[2019-12-20 15:22] petrelharp commented on #84
For 'encouragement'?

[2019-12-20 15:23] andrewkern commented on #84
👍

[2019-12-20 15:25] asiepel commented on #84
I’d (humbly) suggest acknowledging the Simons Center for Quantitative Biology at Cold Spring Harbor Laboratory, which sponsored and paid for the first workshop.

On Dec 20, 2019, at 10:23 AM, Andrew Kern <notifications@github.com<mailto:notifications@github.com>> wrote:

👍

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://u

[2019-12-20 15:26] andrewkern commented on #84
indeed. and who sponsored and paid for our latest meeting at ProbGen?

[2019-12-20 15:27] asiepel commented on #84
not sure if there were any central funds for that one….. Jerome?

On Dec 20, 2019, at 10:26 AM, Andrew Kern <notifications@github.com<mailto:notifications@github.com>> wrote:

indeed. and who sponsored and paid for our latest meeting at ProbGen?

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__gith

[2019-12-20 15:30] agladstein commented on #96
When are you planning to submit? Because I can get up a draft diagram within an hr or two. Or I can just wait.

[2019-12-20 15:35] asiepel opened #123 "reconcile Results and Discussion regarding performance comparison"
I noticed some slight discrepancies between the Results section and Discussion section in summarizing the major outcomes of the performance comparison.  I'd like to take a shot at resolving these before we submit but can't do it right this minute.  Can do it first thing after lunch here (2ish EST)

[2019-12-20 15:36] philippmesser commented on #84
Wasn't Dmitri somehow involved in the initial conception of this idea? I know he didn't even come to the first meeting in CSH last year and don't think he participate in anything afterwards, but maybe it's still worth a mention in the acknowledgment section? Just throwing this out here and hopefully some of the others involved in the initial conception can comment.

[2019-12-20 15:36] asiepel commented on #122
I think it's very close but I just posted an issue about a small but important issue I'd like to address this afternoon.

[2019-12-20 15:37] asiepel commented on #84
yes, I think “encouragement” would also be appropriate for Dmitri.  He was very enthusiastic at first and helped set the agenda for the first workshop but then seemed to get busy with other things.

On Dec 20, 2019, at 10:36 AM, philippmesser <notifications@github.com<mailto:notifications@github.com>> wrote:

Wasn't Dmitri somehow involved in the initial conception of this idea? I know he didn't e

[2019-12-20 15:45] asiepel opened #124 "explanation of model codes"
Perhaps I missed something here but it looks like the number following the underscore in the model codes represents the number of populations in the simulation.  Can this be highlighted somewhere, e.g., in the legend of Table 1?  Or should it even be broken out as another column in the table?

[2019-12-20 15:50] andrewkern commented on #124
I think we can point the reader to our documentation on naming conventions here: https://stdpopsim.readthedocs.io/en/latest/development.html#naming-conventions

[2019-12-20 15:50] agladstein commented on #109
When I click S1 - S4 in the pdf, it links to Figure 1 - 4, not Figure S1 - S4.

[2019-12-20 15:51] andrewkern commented on #123
@petrelharp is taking  a full pass through the manuscript right now, so be sure to update your version when you take a pass this afternoon

[2019-12-20 15:54] petrelharp opened #125 "Document how figures are produced"
Not all figures have associated code - for instance, we should be able to find the code that produces Figure 4 by doing
[code]
in either this or the analysis repo. If the figure is made by hand, we should list somewhere (e.g., the README, or as a comment in the latex source) the constituent programatically generated sub-figures. Apologies if the info is there somewhere but I can't find it.

[2019-12-20 16:02] agladstein commented on #122
Sounds good. I'd like to get through the comments from https://github.com/popsim-consortium/manuscript/pull/112 and then I think it should be good.

[2019-12-20 16:21] ckyriazis commented on #125
So the code for this and other two pop figures is there but the file names were changed. I'll submit a PR to fix this.

[2019-12-20 16:25] ckyriazis commented on #125
actually the real issue is that I made the cartoons in those figures by hand, and the file names changed going from the source code -> results panel -> final figures with cartoons. what do you suggest here @petrelharp?

[2019-12-20 17:09] petrelharp commented on #84
Adding these over in #127.

[2019-12-20 17:24] petrelharp opened #128 "how many Drosophila samples for the two-pop model?"
Right now, it says that for HomSap we have 20 samples; but it is unspecified for DroMel. @ckyriazis ?

[2019-12-20 17:25] petrelharp opened #129 "what is the 'top run'?"
What does "top" mean [here](https://github.com/popsim-consortium/manuscript/blob/58d23c35cb2b7383cff4ec959b88f12277373e9e/popSimManu.tex#L780)?

[2019-12-20 17:27] ckyriazis commented on #129
sorry thats totally vague - the run with the highest log likelihood from 10 runs both for dadi and fsc

[2019-12-20 17:30] ckyriazis commented on #128
50 samples...must have got lost in the shuffle of adding then deleting the whole genome sims stuff

[2019-12-20 17:30] petrelharp commented on #125
Writing down in the README which code produced what figures. For instance:
[code]

[2019-12-20 17:31] petrelharp commented on #125
Just a simple pointer should do it - nothing detailed is necessary.

[2019-12-20 17:39] petrelharp commented on #122
Looks great!! I'm happy to sign off on this, and vote to incorporate final additions (eg #123; @agladstein comments) but to let @andrewkern preprint when he thinks appropriate.

[2019-12-20 17:41] petrelharp commented on #109
Why so it does. I had tested with S5, which linked appropriately. I'll see what I can do.

[2019-12-20 17:43] andrewkern commented on #122
Once this latest round of edits are done I'm going to take a pass through myself.

[2019-12-20 17:46] andrewkern opened #130 "Include Arabidopsis results?"
Folks the paper still doesn't include the 2 epoch AraTha result --- https://github.com/popsim-consortium/manuscript/blob/master/display_items/AraTha_African2Epoch_1H18.pdf

Should we stuff it in a little paragraph after the drosophila section in the results?

votes?

[2019-12-20 17:53] ckyriazis commented on #130
i say yes! we have the results, might as well throw them in

[2019-12-20 17:55] ckyriazis commented on #125
ok see #131

[2019-12-20 18:00] petrelharp commented on #109
OMG, finally figured it out: https://tex.stackexchange.com/questions/304814/hyperref-points-wrong-figure-table-with-reset-counter

[2019-12-20 18:02] andrewkern commented on #109
ah the elegance of latex

[2019-12-20 18:02] agladstein commented on #109
Good job. I know it's a pain.

[2019-12-20 18:08] petrelharp commented on #130
Pros:
- includes a plant
Cons:
- we're almost @#(*$)) done, stop adding things.

I like adding a little paragraph. But this will also require at least a half-sentence in the Discussion, really. If you want, draft a PR with minimal changes?

[2019-12-20 18:09] agladstein commented on #109
I verified. It works now

[2019-12-20 18:31] petrelharp commented on #96
"today"? @andrewkern ?

[2019-12-20 18:37] #109 closed

[2019-12-20 18:37] #128 closed

[2019-12-20 18:37] #124 closed

[2019-12-20 18:37] #129 closed

[2019-12-20 18:39] andrewkern commented on #96
don't think we need it

[2019-12-20 18:42] petrelharp commented on #122
I'm good with adding Arabidopsis (or not if there are strong objections?).

[2019-12-20 18:46] petrelharp commented on #125
thanks!

[2019-12-20 18:46] #125 closed

[2019-12-20 18:51] andrewkern commented on #123
@asiepel I think we dealt with this so going to close. feel free to reopen if needed.

[2019-12-20 18:51] #123 closed

[2019-12-20 18:51] andrewkern commented on #84
closing this down.

[2019-12-20 18:51] #84 closed

[2019-12-20 18:52] andrewkern commented on #110
we good with this issue @agladstein?

[2019-12-20 19:30] andrewkern commented on #130
closed by https://github.com/popsim-consortium/manuscript/pull/133

[2019-12-20 19:30] #130 closed

[2019-12-20 19:32] andrewkern commented on #122
I'm fixing a few minor typos but hoping for some more approvals here: @RyanGutenkunst @klohmueller

[2019-12-20 19:36] agladstein commented on #110
Looks good.

[2019-12-20 19:36] #110 closed

[2019-12-20 19:39] agladstein opened #136 "make clean rm's pdfs"
if you do a make clean it will remove the figure pdfs - and document won't build correctly

[2019-12-20 19:41] asiepel opened #137 "Capitalization of Stdpopsim"
The convention of capitalizing at the beginning of a sentence is not being uniformly applied

[2019-12-20 19:43] andrewkern commented on #137
I've been trying to keep `stdpopsim` lowercase. Have you seen other examples?

[2019-12-20 19:43] andrewkern commented on #137
oh sorry now I see the title of this Issue. Yes I've been changed that-- do you think it should be Uppercase?

[2019-12-20 19:44] ckyriazis commented on #137
i think @jeromekelleher went through the ms yesterday and made it uppercase at the start of sentences

[2019-12-20 19:44] andrewkern commented on #136
lol that's not good

[2019-12-20 19:44] asiepel commented on #137
someone added a \Stdpopsim command and applied it in some places.  I don't have a strong feeling either way but we should be consistent

[2019-12-20 19:45] klohmueller commented on #122
I approve! Thanks everyone!

[2019-12-20 19:45] andrewkern opened #138 "Need to include download link for stdpopsim in results!"
We don't have a link to the `stdpopsim` repo!!!

[2019-12-20 19:46] andrewkern commented on #137
Okay I will add back uppercase in my next pass through.

[2019-12-20 19:47] asiepel commented on #122
I had another quick look through and am happy for you to post when ready.  It's a nice introduction to the resource and a great first step to getting the word out.

[2019-12-20 19:51] jradrion commented on #137
@andrewkern I just changed the few instances where we used lowercase for starting a sentence. Please ignore the PR if we don't want to do this.

[2019-12-20 20:10] RyanGutenkunst commented on #122
I approve! Happy Holidays everyone!

[2019-12-20 20:26] agladstein commented on #136
Doesn't appear to be an issue anymore. Worked for me.

[2019-12-20 20:26] #136 closed

[2019-12-20 20:48] andrewkern commented on #138
closed by https://github.com/popsim-consortium/manuscript/pull/140

[2019-12-20 20:48] #138 closed

[2019-12-20 20:48] andrewkern commented on #137
closed by https://github.com/popsim-consortium/manuscript/pull/139

[2019-12-20 20:48] #137 closed

[2019-12-20 20:57] andrewkern commented on #122
We are submitted to bioRxiv! 🎉

I suggest we wait on journal submission until after the break.

[2019-12-20 20:59] asiepel commented on #122
Excellent.  Submission after the holiday sounds great.  Nice work everyone and enjoy the break!

[2019-12-20 21:58] petrelharp commented on #122
Thanks, all - good work!

[2019-12-20 21:58] #122 closed

[2019-12-21 19:05] andrewkern opened #142 "preprint is live!"
🍾 🎉

https://www.biorxiv.org/content/10.1101/2019.12.20.885129v1

[2019-12-22 06:37] andrewkern opened #144 "Figure 1B needs update"
looks like Fig 1B should be updated from `--model` to `--demographic-model`

[2019-12-23 01:34] jradrion commented on #144
The only drawback of providing API and CLI code examples in the ms is that is these commands are subject to change again.

[2019-12-23 08:01] grahamgower commented on #144
These commands and API were changed specifically with the intention of forwards compatibility. So you can expect to not have to change this again. (I hope :))

[2019-12-23 14:28] #144 closed

[2019-12-31 22:42] #142 closed

[2020-01-08 03:32] andrewkern opened #147 "paper submitted!"
we are currently undergoing the initial submission process at eLife 🎉

[2020-01-09 08:34] #147 closed

[2020-01-21 21:03] #96 closed

[2020-03-17 17:22] jeromekelleher opened #149 "Add response letter outline"
As discussed in meeting 17/03, the response letter will be Markdown and will include the reviewer comments.

Add the initial stub for this, so that people who want to update the manuscript can also respond appropriately.

@andrewkern, I'm happy to take care of this, unless you want to?

[2020-03-17 18:04] jeromekelleher opened #150 "Add SLiM models validation plots to supplement"
We want some sort of validation that the SLiM engine and msprime engine are doing more-or-less the same thing. For the supplement, I guess we'd want a plot of some summary stat(s), and show the effect of

- scaling factor
- recapitation/running for 10N gens

It'll be quite a nice plot if we can show that with different scaling factors we converge on the same result as msprime, and that using recap

[2020-03-17 18:08] jeromekelleher commented on #150
@jradrion kindly volunteered to help out with this. Have you any thoughts on what would be a nice figure to aim for Jeff?

[2020-03-17 18:16] jeromekelleher opened #151 "Protocol for addressing reviewer comments"
To update the manuscript addressing reviewer comments, please follow this protocol

1. Create a feature branch on your github fork following [this guide](https://stdpopsim.readthedocs.io/en/latest/development.html#github-workflow)
2. Address the comments by editing the manuscript. To minimise conflicts, please keep edits small and local, and don't address too many issues at once.
3. Update the ``r

[2020-03-17 18:16] jeromekelleher commented on #151
(But #149 needs to be resolved first so that the ``response-to-reviewers.md`` file exists)

[2020-03-17 18:32] jradrion commented on #150
@jeromekelleher Perhaps, a set of Q-Q plots in a multi-panel figure showing a few key summary stats with a few different scaling factors? We might also want runtime comparisons?

[2020-03-17 18:43] #151 closed

[2020-03-17 18:44] grahamgower commented on #150
+1 for basic runtime comparisons.

[2020-03-17 18:52] jeromekelleher commented on #150
Sounds great. The run time thing will be interesting since we're using recapitation, model scaling etc.

[2020-03-17 21:05] andrewkern commented on #149
looks like you got here already. closing.

[2020-03-17 21:05] #149 closed

[2020-03-17 21:20] andrewkern commented on #150
Would be great if we got some publication quality figs out of this @jradrion. I think these will be very interesting comparisons.

[2020-03-17 23:10] jradrion commented on #150
Good deal, I'll get on it!

[2020-03-18 09:09] jeromekelleher commented on #149
Yep, sorry forgot to close the issue.

[2020-03-19 17:22] jradrion commented on #150
I was thinking about something like the following for a figure:
![slim_supp_plot](https://user-images.githubusercontent.com/20053488/77094883-58a8f700-69ca-11ea-98e6-8bb678877754.png)
distributions would be from windows along human chr 21 & HapMapII_GRCh37 run under Africa_1T12. Runtimes distributions would be from simulation reps (if it's not too slow) or point estimates if things are really slow

[2020-03-19 17:28] jeromekelleher commented on #150
Cool, I like it!

[2020-03-20 07:48] grahamgower commented on #150
That looks really nice @jradrion. I've started working on some validation code. I'll try to generalise it a little so that it will be straightforward for you to hack on the plotting code and get it how you like it.

[2020-03-20 16:24] jradrion commented on #150
Wow, thanks @grahamgower! That sounds great, I appreciate it! Just now I tried my first test run with the SLiM engine and got the following error. I'm sure it's a simple setup mistake on my end, and I have not attempted to debug yet, but if you've seen this one before and have any suggestions, I'm all ears. Time to make a some coffee and try to get this running...
[code]
actually just now noticing

[2020-03-20 16:30] grahamgower commented on #150
I saw this yesterday actually. I think there might be something funny going on with bleeding-edge versions of tskit and/or pyslim. I haven't had time to identify it further. I uninstalled tskit, pyslim, and msprime (which were the latest git master) and reinstalled from pip and the message went away.

If you can figure out which library is the culprit, and git bisect back to the change, that would

[2020-03-20 16:31] jradrion commented on #150
OK, sounds like a good lead. I'll look into it.

[2020-03-20 18:24] jradrion commented on #150
@grahamgower when you get the chance could you send me your `pip list` / `conda list` so I can compare versions? I've tried all combinations of tskit {0.2.3, 0.2.2, 0.2,1, 0.1.5} and pyslim {0.314, 0.312, 0.311, 0.31, 0.1} and keep getting the same error. I also uninstalled tskit, pyslim, and msprime, and reinstalled all from pip and I continue to have the same issue.

[2020-03-20 19:17] grahamgower commented on #150
Sorry if I sent you on a wild goose chase! Maybe its a different package? Attached is my current `pip list` output; I don't have conda. My python version is  3.8.2.
[pip-list.txt](https://github.com/popsim-consortium/manuscript/files/4361465/pip-list.txt)

[2020-03-20 19:42] jradrion commented on #150
No worries!
Awesome, thank you @grahamgower!

[2020-03-20 20:02] grahamgower commented on #150
@jradrion, I can reproduce the issue when I install msprime from git master. Quite strange.

I installed it from the git checkout with `python setup.py develop --user`.
[code]

[2020-03-20 20:06] grahamgower commented on #150
I bet it has something to do with this warning triggered by pyslim:
[code]

[2020-03-20 22:11] jradrion commented on #150
Oddly I don't get that particular warning.

I've now set all of my package versions to what you are using with the exception of stdpopsim itself and still no luck. I've tried the following stdpopsim versions:
`0.1.1`
`0.1.2.dev48+ng80e5233`

I'll keep at it.

[2020-03-23 09:03] jeromekelleher commented on #150
@jradrion, are you using the bleeding edge version of SLiM by any chance? You might be experiencing fall out from this: https://github.com/tskit-dev/pyslim/issues/67#issuecomment-601475902

[2020-03-23 09:04] jeromekelleher commented on #150
I would stay away from the bleeding edge msprime unless you have to use it, we've been making big changes in the run up to 1.0 and have likely broken things. That ``num_loci`` warning above from pyslim is one of these things.

[2020-03-23 16:14] jradrion commented on #150
@jeromekelleher I've been running SLiM 3.3.2 and msprime 0.7.4. Is there a particular SLiM version I should consider rolling back to?

[2020-03-23 16:24] grahamgower commented on #150
@jradrion can you double check the msprime version in your environment? E.g.
[code]
Its suprisingly easy to have multiple installations of a package hanging around, and often not obvious which is taking precedence in any given case.

[2020-03-23 16:25] grahamgower commented on #150
PS: I'm running slim 3.3.2, and 3.3.0, on different systems, and both have been working fine.

[2020-03-23 16:33] jeromekelleher commented on #150
Any recent version of SLiM should be OK, just not bleeding edge master.

[2020-03-23 16:33] jradrion commented on #150
@grahamgower what is this string?

[code]

[2020-03-23 16:35] grahamgower commented on #150
Well that looks like a regex, but I've no idea what its doing there! Maybe time to make a new conda env?

[2020-03-23 16:37] jradrion commented on #150
Yeah, I think so.

[2020-03-23 17:41] petrelharp commented on #150
This is usually because your pyslim is not up to date. Unless it's because you installed SLiM from master in the last four days or so, as jerome says, I have to update pyslim (on the list for today!).

[2020-03-23 17:43] jradrion commented on #150
OK, I've tried a couple of fresh environments now (cleared .local, etc), and I'm still getting the same `ValueError: Tree sequence contains no SLiM provenance entries.`.
I've listed my setup steps in case anything jumps out at you as being especially wrong.

- rm miniconda
- install miniconda
- conda create --yes --name popsim python==3.8
- conda activate popsim
- cd /stdpopsim/
- git pull
- pip i

[2020-03-23 17:45] jradrion commented on #150
@petrelharp My SLiM install is relatively recent, I think I cloned the github repo last Thursday or Friday. I'm using pyslim 0.314, if that helps.

[2020-03-23 18:12] jradrion commented on #150
OK, so this is possibly all due to me recently compiling SLiM from master. Thanks for your help, all.

[2020-03-23 20:52] petrelharp commented on #150
You can easily check by reverting to the last tagged release.

[2020-03-23 21:09] jradrion commented on #150
@petrelharp Yep, everything is working for me now!

[2020-03-25 17:07] petrelharp commented on #150
I updated pyslim, btw, so this should work with the latest SLiM now.

[2020-03-25 17:16] jradrion commented on #150
Awesome, thanks @petrelharp

[2020-03-26 00:26] jradrion commented on #150
![popsim_slim_val](https://user-images.githubusercontent.com/20053488/77597542-725fa800-6ebc-11ea-8f9f-355193d7ef5b.png)
OK, perhaps something that looks a bit like this? This is a small test run on _CanFam_ under constant pop size. I can work on the plot specifics to improve the overall look (thoughts/suggestions?), but do we also want to present more data? @grahamgower's validation script auto-g

[2020-03-26 00:29] andrewkern commented on #150
this looks great to me. why not do this for a couple human models, flies, arabidopsis, and CanFam?

[2020-03-26 00:40] jradrion commented on #150
@andrewkern sounds good!

[2020-03-26 01:15] petrelharp commented on #150
Looks real nice. But, just to be clear, what exactly are the points in those plots?  I'm guessing those are q-q plots of the values across windows?  If so: great validation.

[2020-03-26 01:17] petrelharp commented on #150
Were the models run long enough that you'd think you'd need recapitation?

[2020-03-26 03:27] jradrion commented on #150
They are the qth quantiles of the value of each statistic across replicate simulations, not windows. We could plot across windows, but I used the validation script on the repo as a framework, and my reading of that script is that a single value is returned per tree sequence.

I'm not sure. I'm not familiar enough with SLiM to know when one would necessarily _need_ recapitation. I had planned to sh

[2020-03-26 04:01] petrelharp commented on #150
Well, I say none of the plots should show wrong simulations (eg no recapitation if it needs it), and only show "recapitation" as a point of comparison if it is a meaningful comparison (eg we simulated a big N for a small time and recapitated).

To recall, one should probably always recapitate by default, just in case of uncoalesced trees. But if the simulation is coalesced it won't take hardly any

[2020-03-26 06:38] grahamgower commented on #150
If we want to show QQ plots without recapitation, we will need to close this issue first (opinions/expertise wanted!): https://github.com/popsim-consortium/stdpopsim/issues/420

The validation script currently simulates ~250kb region, and @jradrion is correct that each statistic is calculated once for each replicate. My motivation here is that it's far quicker to do many replicates at this size in

[2020-03-26 09:02] jeromekelleher commented on #150
This looks great, thanks @jradrion! One thing we are missing though is whether we're capturing LD properly. What if we replace segsites or pi with num_trees? In practise num_trees is a very good way of making sure recombination is being done properly.

[2020-03-26 09:03] jeromekelleher commented on #150
Totally agree we don't want too many stats btw, I think the layout is just right now.

[2020-03-26 16:55] jradrion commented on #150
@petrelharp

Sure, I think this makes sense. So, if we want to present a plot similar to the above, we should try to find an example that meets both of these conditions, correct?

One thing I think would be helpful, is documentation about which SLiM-engine options are appropriate for each model. For example, as a novice, I'd be tempted to simply use `-e slim` alone and use the defaults for all oth

[2020-03-26 17:00] grahamgower commented on #150
Yeah, that's probably fine. If recapitation is enabled, the slim part of the simulation will start from the root of the population tree/graph.

[2020-03-26 17:03] jradrion commented on #150
@grahamgower just to be clear though, I should probably hold-off on spooling up demographic simulations until popsim-consortium/stdpopsim#420 is resolved?

[2020-03-26 17:04] grahamgower commented on #150
Yeah, otherwise you might have to rerun them!

[2020-03-26 19:58] jeromekelleher commented on #150
I think it's just the average number of segregating sites in the default case, nothing particularly fancy.

[2020-03-26 20:11] jradrion commented on #150
OK, makes sense, thanks.

[2020-03-26 23:07] jradrion commented on #150
I went ahead an simulated with recapitation because it's pretty quick. Here is my first run (100 reps, 20 samples) of human chr22 w/ HapMapII_GRCh37 under Africa1T12...
![popsim_slim_val_demographicModel](https://user-images.githubusercontent.com/20053488/77704535-8538b200-6f7a-11ea-8b13-e87b2e9c2437.png)

[2020-03-26 23:08] andrewkern commented on #150
very cool. now can you do this with a variable number of burn-in generations?

[2020-03-26 23:13] jradrion commented on #150
I believe I need to wait for popsim-consortium/stdpopsim#420 to experiment with burn in

[2020-03-26 23:31] petrelharp commented on #150
Minor point: the y-axes on the Runtime plots need to start at 0.

[2020-03-27 17:56] jradrion commented on #150
Curiosity got the best of me so I sent out some more sims, again this is 100 reps of human chr22 w/ HapMapII_GRCh37 under Africa1T12. The no-recap sims with Q=1 are about to run out of walltime, so I probably won't have those for a couple of days.
![popsim_slim_val_demographicModel](https://user-images.githubusercontent.com/20053488/77804300-6e5a9400-703c-11ea-83e6-f20b96533d6c.png)

[2020-03-27 20:51] agladstein opened #153 "Fig 1A api broken"
The example API code in Fig 1A isn't consistent with version 0.1.1.

It says `model = species.get_model("OutOfAfrica_3G09")`, but it should be `model = species.get_demographic_model("OutOfAfrica_3G09")`

[2020-03-27 22:39] andrewkern commented on #150
super cool @jradrion

[2020-03-30 08:12] jeromekelleher commented on #153
Good spot @agladstein, things moved quickly at the end and this slipped through. I think you made this fig @jradrion?

[2020-03-30 08:15] jeromekelleher commented on #150
Very cool indeed. Looks like we have issues with recapitation @grahamgower, or do we already know this?

[2020-03-30 08:26] grahamgower commented on #150
I'm not sure what's going on here with recapitaiton---I don't think we saw anything like this before anyway. These are 25 mb sims, and I've only done 250 kb so far. Maybe longer contigs trigger this difference?

[2020-03-30 09:00] grahamgower commented on #150
Oh, I see what's going on here. This is with HapMapII_GRCh37, and the recapitation is just using a uniform map. This will also be visible for some demographic models with `--slim-burn-in 0` after https://github.com/popsim-consortium/stdpopsim/pull/450 is applied.

[2020-03-30 09:10] jeromekelleher commented on #150
This shouldn't affect the ``num_trees`` distribution though, should it? We should have the same overall rate of recombination, it's just the breakpoints will happen at different places (unless we have super intense hotspots where lots of breaks happen independently at exactly the same base).

Unless the rate of recombination we have on the uniform map is significantly different to the average of H

[2020-03-30 09:15] grahamgower commented on #150
The rate for the uniform map is `recomb_map.mean_recombination_rate`, where recomb_map will be HapMapII_GRCh37. From those plots it just looks like the variance in the number of trees is different.

[2020-03-30 09:20] jeromekelleher commented on #150
True, but the point still holds. There shouldn't be any difference in distribution in the number of trees unless we get multiple recombination hits at the same point (which is quite possible, I guess)

[2020-03-30 12:43] grahamgower commented on #150
Well whatever is going on, its a problem with the msprime engine too.
[hapmap__uniform.pdf](https://github.com/popsim-consortium/manuscript/files/4402744/hapmap__uniform.pdf)

"hapmap" is `stdpopsim HomSap 100 -c chr22 -g HapMapII_GRCh37`
"uniform" is `stdpopsim HomSap 100 -c chr22`

[2020-03-30 14:34] jeromekelleher commented on #150
Hmm, it's probably the massive chunks that have a single tree (like the centromere) that we hit before. We never did get around to putting in the automasking stuff.

[2020-03-30 16:00] andrewkern commented on #150
not sure we would want to automask in this case anyway.

@grahamgower num_sites here is the number of segregating sites? it looks like the uniform case is always returning nearly the same number

[2020-03-30 16:48] grahamgower commented on #150
@andrewkern I always thought that the num_sites tree sequence property was the number of segregating sites, until I started looking at these plots. Now I'm all kinds of confused. @jeromekelleher can you educate us?

[2020-03-30 17:00] jradrion commented on #153
Yes, I will be updating this

[2020-03-30 17:40] petrelharp commented on #150
`num_sites` is the number of sites at which we have information about genotypes. They aren't necessarily polymorphic among the samples: they might have a mutation that is fixed among the samples, or might have no mutations at all. Most workflows won't get you sites of the second class (sites with no mutations), but it's easy to get the first one.

[2020-03-30 17:50] jradrion commented on #153
Actually, after looking at this again, it seems like the version of Figure 1 that made it on to bioRxiv and the elife submission is older than the version that has been uploaded to this repo since December 22. The newer version both corrected the above issue along with the following concern raised by Review 3,

I'm having an issue with being able to complile the .tex file at the moment, can anyone

[2020-03-30 17:51] petrelharp commented on #150
Have a look at the allele frequencies, with this code: https://github.com/tskit-dev/tskit/issues/504

[2020-03-30 17:56] jradrion commented on #153
OK, just recompiled and it is indeed being compiled with the updated/corrected version of Figure 1, however the issue with Figure 1C as raised by reviewer 3 was not actually corrected. I will upload a new version of the figure and close this issue.

[2020-03-30 17:56] agladstein commented on #153
Yes, you are correct. Fig 1A is correct since 2459b37ba2e8bf0d9ed49bb2c663c5137894b738
and Fig 1C still needs to be corrected

[2020-03-30 18:05] jradrion commented on #153
Actually, before I upload a revised figure, do we want to include API/CLI examples for both the msprime and SLiM engines now?

@jeromekelleher @grahamgower Do you expect that any of the syntax will change in the near future? Updating this figure is pretty straightforward, and we can always leave this issue open and hold-off on updating the figure until things are finalized.

[2020-03-30 18:14] grahamgower commented on #153
The interafaces shown here for CLI and API should be stable now, and barring any major unexpected problems they wont change in a backwards-incompatible way.

Probably it's not necessary to include examples for both slim and msprime. But IMO, it is worth changing from `get_default_engine()` to an explicit `get_engine("msprime")`, and adding `-e msprime` for the CLI. This hints strongly at how one w

[2020-03-30 18:16] jradrion commented on #153
Excellent, thanks @grahamgower!

I agree, I think that should be sufficient.

[2020-03-30 21:15] #153 closed

[2020-03-31 02:45] RyanGutenkunst commented on #150
Popping in late... I'm curious about num_trees... Is it connected to some more familiar population-genetic quantity? I don't know how to interpret the changes in num_trees with different scaling without some intuition about the statistic.

[2020-03-31 06:24] grahamgower commented on #150
The number of recombination breakpoints (in ancestral material).

[2020-03-31 07:45] jeromekelleher commented on #150
Not quite. It's  the number of *successful* recombination events, i.e. those that result in distinct trees in the output. Some recombinations result in "diamonds" in the ARG, where a common ancestor event immediately puts back together the two lineages that a recombination split up. Msprime/tskit.simplify() will merge together adjacent identical trees, so these events are not counted.

For larger

[2020-03-31 14:53] RyanGutenkunst commented on #150
I think we should focus on statistics that are calculable from the final sample of the population, without knowing the full simulated history. That seems more relevant to the common use cases of the resource. Is num_trees something we could calculate from the final sample? If not, maybe we should pick something else. I'm not sure what's best. Maybe since we're simulating short stretches, something

[2020-03-31 15:50] petrelharp commented on #150
I agree - from the *genotypes*. I think looking at these other metrics is informative, and I'm glad to look at them, but mostly to us - we should keep them out of the paper.

[2020-03-31 16:09] jeromekelleher commented on #150
Sure, for the paper I agree. But for just validating and development having num_trees is really helpful, as we do want to compare the actual tree sequences.

[2020-04-02 18:25] jradrion commented on #150
I'd like to double check that the plan is indeed to create validation plots similar to the above (although maybe with something other than number_trees?) using a single human chromosome with recombination map (chr22) under AncientEurasia_9K19, correct? There was also mention of using a uniform map. It seems reasonable to have a look at both, if possible.

As an update: I've been running into OOM e

[2020-04-02 18:49] grahamgower commented on #150
Oooh, nasty. I reckon it's because I only tested with short 250kb segments. Could you try this (untested) change?

[code]

[2020-04-02 18:51] jradrion commented on #150
@grahamgower sure thing, thanks

[2020-04-02 21:07] jradrion commented on #150
Thanks, @grahamgower. Everything is good to go now. The only issue was that `ts = ts.keep_interval([(0, max_seq_length)], record_provenance=False)` should be `ts = ts.keep_intervals([(0, max_sequence_length)], record_provenance=False)`

[2020-04-03 22:56] jradrion commented on #150
Here are some updated figs for AncientEurasia_9K19, chr22, with a recombination map:
![AE9K19_chr22_map_AI](https://user-images.githubusercontent.com/20053488/78410902-b04a8380-75c2-11ea-89f5-d78ef22aa7e5.png)

and without a map:
![AE9K19_chr22_nomap_AI](https://user-images.githubusercontent.com/20053488/78410906-b5a7ce00-75c2-11ea-80d6-fd5dd7fc0d7f.png)

I'm not sure what might be going on with Q

[2020-04-04 01:36] petrelharp commented on #150
In that model some of the populations sizes are very small - e.g. Neanderthal, 86.9. I'm surprised this even *runs* with a SLiM simulation at Q=50, since that'll round to either N=1 or N=2. Oh, I guess that it could run at N=1 because it's an asexual WF simulation? (ps. shouldn't these be sexual populations?)

But, the basic idea why these should differ is that the equivalence rests on the approxi

[2020-04-04 03:53] petrelharp commented on #150
Please ignore this can of worms.

[2020-04-04 05:00] andrewkern commented on #150
but why the difference between uniform and the hapmap recombination maps? that doesn't make sense to me

[2020-04-04 05:56] petrelharp commented on #150
Oh, good question. No idea.

[2020-04-06 20:08] agladstein opened #159 "tutorial response"
write response to reviewer about restructuring tutorial. Fixed in https://github.com/popsim-consortium/stdpopsim/pull/460

[2020-04-08 17:23] ckyriazis opened #160 "census sizes and inverse coal rates"
Reviewer 1 suggested including both census size and inverse coalescence rates in all figures:

I'm not if we should do this for a few reasons: 1) some of the figures are already a bit busy when including three inference replicates and one 'truth' line, 2) my understanding is that the inverse coalescence rates are calculated for each population separately to account for migration impacting Ne estim

[2020-04-08 18:59] asiepel commented on #160
happy to discuss but my instinct would be to resist an effort to report census size — it’s really messy to characterize the relationship between it and Ne, and any simple attempt is likely to be misleading.  -A

[2020-04-08 22:59] petrelharp commented on #160
I'm happy either way, but as a counter-point, what people often would like to imagine they are learning about is census size, and while in principle everyone knows these are different, reminders/illustrations of the differences are not a bad thing.  Maybe we could put the census size lines on in an uobtrusive way - dotted, and light-colored?

[2020-04-08 23:08] ckyriazis commented on #160
Thanks all for the input. Just to be clear though, by 'census size' here I mean the true effective population sizes that were set our simulations, as opposed to the 'truth' from the ICR (as a reminder, the single pop plots report ICR as the 'truth' and the two pop plots use 'census').

Perhaps we could think of a better way of describing it than 'census size' here since that seems to be causing so

[2020-04-09 13:57] asiepel commented on #160
I see.  That might change my view — I think it’s reasonable to find a way to show the true Ne used in simulation.  But I’d avoid calling it “census size”.    -A

On Apr 8, 2020, at 7:08 PM, ckyriazis <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks all for the input. Just to be clear though, by 'census size' here I mean the true effective population sizes that were set ou

[2020-04-14 15:09] petrelharp commented on #150
The proposed figure looks great, @jradrion - could you put it in the supplement, and maybe a few words about it?

[2020-04-14 16:52] petrelharp opened #162 "add line numbers"
as requested, to the version we resubmit

[2020-04-14 16:53] petrelharp opened #163 "convey uncertainty"
Address various reviewer comments, e.g. the editor's:

We need to put in a short paragraph making these caveats - probably early on? - and then make sure that detailed wording is appropriate, so that e.g. we refer to "published estimates" rather than "true values".  @ckyriazis said he'd take the first pass at this (but isn't showing up in the "assignees" for some reason?)

[2020-04-14 16:58] petrelharp opened #164 "Next steps"
Various reviewer comments requested discussion of next steps - e.g., selection, gene conversion, generally doing other things with SLiM, etcetera. Add paragraph to the discussion about this.

[2020-04-14 16:59] petrelharp opened #165 "Empirical applications"
The editor suggests:

Add something (short?) to the discussion about this.

[2020-04-14 17:01] petrelharp opened #166 "Discuss masking"
A reviewer says:

We should discuss somewhere that other choices may be better, and say in the response that going deeper is beyond the scope of this paper.

This also should respond to the reviewer comments about whether masking is configurable (and add documentation for it if appropriate?).

[2020-04-14 17:06] petrelharp opened #167 "Minor comments"
Take care of them! @ckyriazis will make a first pass at them, and say so here when he's done.

[2020-04-14 17:07] petrelharp commented on #160
The consensus on the call today was to
- add census size curves to Figures 2, 3, S1, S2, and S3
- but not Fig 4, because it's less helpful in that context where the model we're fitting has multiple pops
- explain in the caption/text what's there and why it differs, and why it isn't in Fig 4
- say "simulated population size" and/or "population size from the published model" instead of "census size"

[2020-04-14 17:10] asiepel commented on #160
This sounds good, thanks.

On Apr 14, 2020, at 1:08 PM, Peter Ralph <notifications@github.com<mailto:notifications@github.com>> wrote:

The consensus on the call today was to

  *   add census size curves to Figures 2, 3, S1, S2, and S3
  *   but not Fig 4, because it's less helpful in that context where the model we're fitting has multiple pops
  *   explain in the caption/text what's there and w

[2020-04-14 17:10] petrelharp opened #168 "clean up notation"

[2020-04-14 17:10] petrelharp opened #169 "Edit coalescence rates section."

[2020-04-14 17:12] petrelharp opened #170 "Remove supp figure from snakemake of two-pop workflow (S9)"
A reviewer commented

and we decided that we might as well remove it. Feel free to argue otherwise.

[2020-04-14 21:10] ckyriazis commented on #163
starting work on this now, but have one quick question: in the response, is this a case where we should be quoting changes from the manuscript or would it be OK to just have a vague "we made the suggested change" response? the reason I ask is I'm making minor changes throughout, and it may be a pain to quote all of them individually.

[2020-04-14 21:58] petrelharp commented on #163
No need to quote many minor changes, but it wouldn't be a bad idea to say "we did this throughough, for instance, we changed X to Y"; but we will also resubmit with a diff to the previous version, so we'll see themm.

[2020-04-15 16:55] ckyriazis commented on #170
Taking care of this in my current round of edits, but I also noticed we dont actually reference Figure S8 (the DAG for the n_t analysis pipeline) anywhere in the manuscript either. Should we remove this as well?

[2020-04-15 17:47] petrelharp commented on #170
I like it - I say refer to it somewhere?

[2020-04-15 17:48] ckyriazis commented on #170
Ok I'll find a place to add it in.

[2020-04-16 14:34] ckyriazis commented on #170
Took care of this in #171  - this can be closed

[2020-04-16 14:35] ckyriazis commented on #167
Took care of many of these in #171 but some remain

[2020-04-16 14:35] ckyriazis commented on #163
Took care of this in #171  - this can be closed

[2020-04-16 14:35] ckyriazis commented on #162
Took care of this in #171  - this can be closed

[2020-04-16 14:35] ckyriazis commented on #160
Took care of this in #171  - this can be closed

[2020-04-16 16:30] #162 closed

[2020-04-17 17:35] #170 closed

[2020-04-17 17:35] petrelharp commented on #167
I'll leave this open to track remaining ones.

[2020-04-17 17:35] #163 closed

[2020-04-17 17:41] petrelharp opened #172 "Add PapuansOutOfAfrica to the table"
This one isn't in [Table 1](https://github.com/popsim-consortium/manuscript/blob/master/model_table.tex): https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_homsap_models_papuansoutofafrica_10j19 - who did the previous models, and can they do this one?
![Screenshot from 2020-04-17 10-41-28](https://user-images.githubusercontent.com/1046249/79597970-0544ca00-8098-11ea-91c8-e8c87ea1

[2020-04-17 17:58] petrelharp commented on #160
Sorry, this isn't closed - at least on `master` there's no census sizes or mention of it in the figure captions (eg [here](https://github.com/popsim-consortium/manuscript/blob/master/popSimManu.tex#L440) - did you forget to `git add` something, @ckyriazis?

[2020-04-17 18:01] ckyriazis commented on #160
ah yea sorry, i meant for @jradrion to revise the captions for these figures with the appropriate description when he adds the updated figures. so this should remain open until that is complete.

[2020-04-18 21:22] petrelharp opened #173 "feel good about ourselves"
I'd just like to comment a few of the excellent comments from the reviewers:

I'll close this issue after there's enough "likes" of this comment. =)  (note: I could only "assign" 10 people to this issue, else I would have added all the authors)

[2020-04-20 08:23] jeromekelleher commented on #172
That was probably me. I've assigned myself.

[2020-04-21 21:10] jradrion commented on #160
After plotting a draft figure, I'd like to question the utility of including lines for the census sizes. Take a look at Figure 2. Here I'm plotting the census population size trajectories in red for higher visibility. For much of the plot the population size trajectories are very difficult to distinguish from the coalescent rate. IMHO, it adds unneeded complexity to the figure.
![F2](https://user-

[2020-04-21 21:13] jradrion commented on #160
I'm happy to include them if that's what the group would like, but I thought people might like to see the figures first. Also, if we do keep the census lines, we should decide on what color and linetype to use.

[2020-04-21 21:19] jradrion commented on #160
I guess if it's plotted as a dotted line the same color as the coalescent rates it doesn't look too bad... I still think it complicates the message without adding much.
![F2B](https://user-images.githubusercontent.com/20053488/79914746-9a1e2f00-83da-11ea-9f46-f023fa5b1856.png)

[2020-04-21 22:03] petrelharp commented on #160
Gee, I don't think the red lines get in the way that much. But - are they right? Since there's population splits, the census size for CHB and CEU should switch over to YRI past some point?

[2020-04-22 00:23] jradrion commented on #160
Yeah I was wondering about that. I guess I assumed that the population splits were automatically accounted for, but apparently not because the returned population size for CHB approaches zero as you move back in time using both `population_size_history` and `population_size_trajectory`.

This might be a silly question but is there a direct way to get the epoch time for a mass migration event? I ca

[2020-04-22 00:27] jradrion commented on #160
Also, maybe I'm missing something, but if population size for CHB approaches zero as you move back in time using `population_size_history`, why doesn't CEU do the same? Maybe this is a bug? or am I just totally lost here?

[2020-04-22 01:48] klohmueller opened #175 "Response to reviewers"
The response is looking awesome! Great work everyone!

Just a quick comment (that I thought would be easier to put here):

In terms of Reviewer 1, point 3 (on doing more SLiM stuff with a sweep), I think the response should also emphasize that PopSim is more of a software development/implementation project, rather than a research project.  We're making a resource we want people to use and are vouc

[2020-04-22 04:52] petrelharp commented on #160
Well, you can get the mass migrations like so:
[code]
so then maybe the code you want is this (after consulting [the MassMigration docs](https://msprime.readthedocs.io/en/stable/api.html#msprime.MassMigration):
[code]

[2020-04-22 04:57] petrelharp commented on #160
Good question; I wondered the same. Looking at `dd.print_history()`, it's all good:
[code]
Since [YRI=0, CEU=1, CHB=2](https://stdpopsim.readthedocs.io/en/latest/catalog.html#sec_catalog_homsap_models_outofafricaarchaicadmixture_5r19), this says that both CEU and CHB start with positive growth rate; then CHB merges with CEU and the growth rate in that population (which is still labeled 1, so is CE

[2020-04-22 15:19] ckyriazis commented on #160
I think these look nice @jradrion! Though I agree they do make the plots a bit busy, I think its informative to see the areas where IRC differs from census for thinking about what happens when you have model misspecification. I dont think these issues would be immediately obvious to a good portion of our readership, so I think its worth including to really drive the point home. Also, its an easy t

[2020-04-22 18:24] jradrion commented on #160
Ahh, yes, this was basically what I was looking for. Sorry, I should have just spent a bit more time with the docs. Thanks, @petrelharp !

@ckyriazis How's this? Not much difference between census and IRC...

![F2C](https://user-images.githubusercontent.com/20053488/80017603-b4fbac80-8489-11ea-93e6-23dfeb3df814.png)

[2020-04-22 18:27] jradrion commented on #160
How do people feel about slightly larger font sizes and line weights? I think something like this looks a bit better...though it might require updates for the multi-pop figures for consistency.
![F2D](https://user-images.githubusercontent.com/20053488/80019126-e4131d80-848b-11ea-9958-de3df2157646.png)

[2020-04-22 18:32] ckyriazis commented on #160
mmm yea you're right...very similar after taking care of the issue above. i'm torn. what do others think?

to be clear, if we do keep census, i was thinking not only change it to match the two pop figs (where i guess census is actually in that slate color) but also make the IRC color different so its easier to distinguish.

the larger font sizes and lines look good! i can definitely update the oth

[2020-04-22 18:33] grahamgower commented on #160
Absolutely, bigger font sizes are a win. I find it hard to distinguish the black and gray lines though.

And the different alignment of "SMC++" from the other titles bothers my OCD. :) Maybe the SMC++ and stairway plot columns could be switched, so the lower-case "stairway plot" is misaligned instead?

[2020-04-22 18:40] jradrion commented on #160
OK, so I think better colors to differentiate census from IRC is a must.

I might just align those in illustrator, but I agree, it's a bit bothersome.

[2020-04-22 18:42] jradrion commented on #160
What do people think about adding a legend vs simply describing the lines in the caption?

[2020-04-22 18:47] jradrion commented on #160
actually looking more closely, the alignment issue is actually due the the plots in the first column having a title. If you look close you can see that the top of the y-axis is not aligned either between column 1 and the rest. I think I'll dump those titles and add them in illustrator (or maybe cowplot) too.

[2020-04-22 18:54] petrelharp commented on #160
Ah, nice!

Hm, they're so similar that I think it will be confusing having them in the same figure - like, people will read "census sizes are shown in red" and think "what red line?" What if we put just one line on this figure (either one) and then put a version of the plot with both lines, or maybe even just the plot with inverse coal rate and census size, in the supplement?

[2020-04-22 19:03] jradrion commented on #160
@petrelharp I like the idea of only showing one or the other in the main plot, with a supplemental plot showing an example or two of census vs IRC.

[2020-04-22 19:30] petrelharp commented on #160
Can you make that figure also?

[2020-04-27 14:16] #150 closed

[2020-04-27 14:16] #160 closed

[2020-04-27 14:34] petrelharp commented on #173
Good job everyone!

[2020-04-27 14:34] #173 closed

[2020-04-27 14:34] #169 closed

[2020-04-27 14:35] #164 closed

[2020-04-27 14:35] #165 closed

[2020-04-27 14:35] #168 closed

[2020-04-27 14:35] #167 closed

[2020-04-27 14:35] #159 closed

[2020-04-27 17:59] jradrion opened #180 "citation update"
Some of our citations may be out-of-date. I'm happy to take a look and revise, but personally, I like waiting until right before submission to deal with these things, in order to avoid multiple changes. Perhaps, we should even wait until we hear back from the AE/reviews again, in case the timeline is unexpectedly delayed?

[2020-04-28 13:40] gphocs-dev commented on #160
I know I'm a bit late to join the discussion. Personally, I think that the version with both measures looks fine. However, if people think that having two nearly identical measures reflecting the "true Ne", then I think that we should show the simulated Ne and drop IRC. IRC is a really neat concept and useful in some cases, but if it doesn't actually depart from the simulated Ne, then it's not ver

[2020-04-29 21:06] #166 closed

[2020-04-30 00:10] apragsdale opened #185 "Include Pongo species"
The Pongo abelii species is also ready to be included in stdpopsim, including the genome build, two recombination maps, and one multi-population demographic model. It would be nice to have that reflected in the manuscript before the final version, and to say more than it's just "in development".

Unless someone thinks that would be a problem, I can go through the manuscript text and tables to incl

[2020-04-30 03:05] petrelharp commented on #185
:yay!: :tada:!

Sounds good to me!!  Although this should probably be part of @jeromekelleher's assignment, #172, which also edits the tables? If not, waiting 'til the current round of edits blows over would be good.

[2020-04-30 03:29] apragsdale commented on #185
Ok, sounds great! I'll hold off until this round of edits comes back.

[2020-04-30 04:59] andrewkern commented on #185
awesome!

[2020-04-30 08:06] jeromekelleher opened #186 "Highlight error in OOA model in msprime docs?"
Because I made a mistake in implementing the OOA model in the msprime docs, there's now quite a few published papers that use this flawed model. I think we should highlight this in the manuscript for several reasons:

1. It's a great argument for why we need stdpopsim
2. Our QC process caught the problem (thanks @apragsdale!!!)
3. It's a good way to highlight this problem in the literature and to

[2020-04-30 08:16] jeromekelleher commented on #185
I'll take care of this once we've merged the various updates to stdpopsim.

[2020-04-30 15:51] petrelharp commented on #186
Sounds good -  how about this?
[code]

[2020-04-30 15:51] petrelharp commented on #186
Inserted [here](https://github.com/popsim-consortium/manuscript/blob/8229ba9549c46f8209651638c61c9a9173931783/popSimManu.tex#L836)?

[2020-04-30 16:18] petrelharp commented on #186
To make the point more forcefully we could cite some of the papers that have used the wrong implementation from the msprime docs...

[2020-04-30 18:00] jeromekelleher commented on #186
I'll do a bit of digging - I know a few off the top of my head anyway.

[2020-04-30 18:01] jeromekelleher commented on #186
The text looks good, thanks @petrelharp.

[2020-04-30 18:15] petrelharp commented on #186
Maybe we don't want to call out anyone else's papers explicitly actually, might be a bit rude...

[2020-04-30 18:16] petrelharp commented on #186
Unless it's one of our own?

[2020-04-30 19:17] jeromekelleher commented on #186
A quick search of GitHub suggests it's been copied into ~30 repos, e.g.

https://github.com/search?q="T_AF+%3D+220e3+%2F+generation_time"&type=Code

https://github.com/search?q=out_of_africa+msprime&type=Code

I've spotted a good few of these which are definitely papers now. I think I'll have to follow up with everyone I can track down to try to let them know. What a mess.

[2020-04-30 21:49] #186 closed

[2020-05-01 01:07] sgravel opened #189 "species vs genera vs taxa"
We refer to "species" in the manuscript to refer to both species and genera (pongo and drosophila). I'd suggest using taxa. Putting this as an issue to since people might not read the edits at this point.

[2020-05-01 01:09] sgravel commented on #189
Actually, this can be fixed while minimizing rewrite and verbosity by simply clarifying:

[2020-05-01 01:15] #189 closed

[2020-05-01 03:02] petrelharp commented on #189
Oh, good call.

[2020-05-11 15:09] petrelharp commented on #185
Pongo has been merged, so I think this is on your plate now, @jeromekelleher?

[2020-05-12 14:09] #172 closed

[2020-05-12 14:09] #185 closed

[2020-05-12 16:12] jeromekelleher opened #197 "Make sure we are referring to the correct number of species etc in text"
Since table was updated in #196, we need to make sure that the text is referring to the correct number of species and so on.

[2020-05-12 16:13] jeromekelleher commented on #180
Looks like this is ready to go now @jradrion - are you happy to take this up?

[2020-05-12 16:14] jeromekelleher commented on #175
Can this be closed now?

[2020-05-12 19:30] jradrion commented on #180
@jeromekelleher  sure, no problem!

[2020-05-12 19:32] jeromekelleher opened #199 "Data is or data are?"
We're using both at the moment - someone who feels strongly pick one.

[2020-05-12 19:34] grahamgower commented on #199
Data are! (Unless there's a Star Trek reference)

[2020-05-13 01:41] #197 closed

[2020-05-13 01:44] petrelharp commented on #175
@andrewkern should check on his pass?

[2020-05-14 03:18] andrewkern commented on #175
closing this out now. think we've done a good job on justifying our revision.

[2020-05-14 03:18] #175 closed

[2020-05-14 03:55] petrelharp commented on #199
Closed in #201.

[2020-05-14 03:55] #199 closed

[2020-05-14 03:56] petrelharp opened #202 "check affiliations"
We'll be submitting this on Thurs or Friday, and updating bioRxiv; so if you want to double-check your affiliation (or do anything else), now's the time.

[2020-05-14 23:16] andrewkern opened #203 "issues raised by Ilan"
Ilan sent me the following email. Sharing it here on the TODO list:

[2020-05-15 04:23] #180 closed

[2020-05-15 13:50] gphocs-dev commented on #203
A few more minor issues in the response letter:

1. Page 2, in the beginning of the 2nd paragraph "an a section"
2. Page 8, first response paragraph should cite Supp fig S3 and not S1.

[2020-05-15 15:09] #203 closed

[2020-05-15 15:09] petrelharp commented on #203
Thanks! Fixed these; sufficiently minor that I didn't do a PR.

[2020-05-15 20:52] #202 closed

[2020-05-16 02:38] andrewkern opened #206 "Resubmission"
All issues are closed; manuscript is ready to go out the door.

I'm going to go ahead and resubmit unless I hear objections in the next few hours.

[2020-05-16 15:49] andrewkern commented on #206
ugh our abstract is now over the word limit. I've taken the liberty of editing it down to this:

[2020-05-16 15:50] andrewkern commented on #206
open to suggestions from folks that might be awake and working on a Saturday AM

[2020-05-16 16:00] andrewkern commented on #206
done! 🎊

[2020-05-16 16:00] #206 closed

[2020-05-16 16:12] petrelharp commented on #206
Thanks, Andy!

[2020-05-19 15:08] andrewkern opened #207 "eLife requesting formatting changes"
This is a pain in the ass.... see below

---------

Dear Andrew,

Thank you for sending the revised version of your work for consideration at eLife. We have checked your submission and we would like to ask you to address the following points before we proceed:

*We have noticed that you have submitted a single manuscript file in the same format as your initial/full submission. At revised submissio

[2020-05-19 15:24] petrelharp commented on #207
I say we write back and say that we disagree with this requirement that every supp fig has a main figure? People should be encouraged to include sanity check and descriptive figures as supplements that don't need to be included in the main text; this will make that hard.  Seems like it goes against the sort of transparency that eLife is supposed to represent.

[2020-05-19 16:56] jeromekelleher commented on #207
Yeah, I agree. This seems like a pretty stupid requirement for a paper like this.

[2020-05-19 17:06] andrewkern commented on #207
i also agree. i'll send a note and push back, along with the files they request

[2020-05-19 17:07] jeromekelleher commented on #207
Thanks Andy!

[2020-05-19 17:41] petrelharp commented on #207
If we want to make it carry more weight, we could get the co-authors to explicitly sign on.

[2020-05-19 18:25] andrewkern commented on #207
i sent a DM to the EiC.... will report back what I'm told

[2020-05-19 22:23] andrewkern commented on #207
okay had convo with EiC. He approved of our plan to push back.

[2020-07-29 14:12] #207 closed